
body { background: #fff; }
#nav { display: none; }
#wrapper { width: 300px; }
.noprint { display: none; }
.printonly { display: block; }

.float_right { float: right; }
.float_left { float: left; }
.clear_floats { clear: both; }
.justify { text-align: justify; }
.centered { text-align: center; }
.hide { display: none; }
.inline { display: inline-block; }
.rounded { padding: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.ib { display: inline-block; float: none; }
.subtle { color: @dblue; }

h1, h2, h3, h4 { font-family: serif; }