@light: #eef;
@lightgrey: #e8e8e8;

@dblue:   #004270;
@orange:  #f79421;
@lblue:   #85d5e3;
@yellow:  #ffcc4e;
@lgreen:  #8dc63f;
@red:     #953734;
@greyish: #556677;


body { padding: 0; background-color: white; color: black; background-image: url(/images/noise_white.png); }
html, body { height: 100%; }

.float_right { float: right; }
.float_left { float: left; }
.clear_floats { clear: both; }
.justify { text-align: justify; }
.centered { text-align: center; }
.hide { display: none; }
.inline { display: inline-block; }
.rounded { padding: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.ib { display: inline-block; float: none; }
.subtle { color: @dblue; }
.printonly { display: none; }
.popover-inner { width: 380px; }

h1, h2, h3, h4 { font-family: serif; }
h4 { color: @dblue; text-transform: uppercase; margin: 0.5em 0 0 0; }

.wf-loading {
  h1, h2, h3, h4 { visibility: hidden; }
}
  
#nav {
  background-color: @dblue; background-image: url(/images/noise_dblue.png); padding: 14px 0; font-weight: bold; color: white; font-size: 1.2em;
  .title { margin-top: 5px; }
  a { color: white; margin-left: 2em; margin-top: 12px; }
  a.active { color: @lblue; }
  a:hover { color: @lblue; text-decoration: none; }
  .menu { text-align: right; }
  .search { display: inline-block; margin-left: 2em; margin-bottom: 0; }
  i { vertical-align: baseline; }
}

@unit: 14px;
#wrapper { height: 100%; position: relative; border: 1px solid @dblue; }
#map {  width: 100%; height: 100%; }
#key { padding: 10px 10px 12px 10px; position: absolute; left: 0px; bottom: 0px; width: 700px; max-width: 100%; background-color: white; background-color: rgba(255,255,255,0.8); z-index: 100; }
#key .square { width: @unit; height: @unit; margin-right: 3px; display: inline-block; border: 1px solid #333;  
  -webkit-border-radius: @unit/2+1; -moz-border-radius: @unit/2+1; border-radius: @unit/2+1; }
#key .item { text-wrap: none; white-space: nowrap; margin-right: 1em; }
.leaflet-control-layers-base input,
.leaflet-control-layers-overlays input { display: inline; }
.overall { background-color: @light; padding: 1em; text-align: center; margin: 1em 0;}
.barchart { width: 100%; height: 250px; }
#showing { padding: 10px 10px 12px 10px; position: absolute; right: 0px; top: 0px; width: 300px; max-width: 100%; background-color: white; background-color: rgba(255,255,255,0.8); z-index: 100; }

.form-search {
  input, select, .btn { margin-bottom: 0.5em; }
}

.square { width: 18px; height: 18px; float: right; }
.color1 { background-color: #e94739; }
.color2 { background-color: #f25f3c; }
.color3 { background-color: #ffd78a; }
.color4 { background-color: #aed485; }
.color5 { background-color: #8cc657; }
.na { background-color: @light; }
.sitevisit_key { width: 100%; margin: 1em 0;
  td { width: 92px; text-align: center; font-size: 0.9em; }
}

.summary, .footer { 
  background-color: @light; background-image: url(/images/noise_light.png);
  &.closed { background-color: @lightgrey; }  
}
.footer { padding: 3em 0; }
.elements_score {
  height: 50px; margin: 3px 0; background-image: url(/images/5e_scale.png); background-repeat: no-repeat; background-position: right top;
  .bar { position: absolute; left: 67px;  height: 10px; top: 10px; background-color: @dblue; }
}
.circled {
  -webkit-border-radius: 999px; -moz-border-radius: 999px; border-radius: 999px; behavior: url(PIE.htc);
  width: 16px;
  height: 16px;
  font-size: 14px; font-weight: bold;
  padding: 8px; text-align: center;
  background-color: @dblue; color: white;
  margin-bottom: 10px; 
}

.section {
  position: relative; padding-left: 50px; min-height: 60px;
  img { position: absolute; left: 0px; top: 0px; max-width: 40px; }
}

table.enrollment {
  .score { margin: 0 8px 8px 8px; padding: 5px; background-color: @dblue; color: white; font-weight: bold; margin-bottom: 10px; }
  th, td { width: 25%; vertical-align: top; border-left: 2px solid @orange; } 
  td { text-align: left; padding: 5px 8px; }
  th { font-size: 1.1em; font-weight: normal; padding-top: 10px; text-align: center; }
  td:first-child, th:first-child { border-left: none; }
  img { width: 40px; height: auto; }
}

.trend { position: absolute; right: 40px; top: 15px; width: 40px; height: 40px; z-index: 10; }


@media only screen and (max-width: 959px) {
  body { min-width: 0px; }
  .container_12 {
    width: auto;
    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12 {
      margin-left: 10px;
      margin-right: 10px;
      text-align: left;
      width: auto;
      float: none;
    }
  }

  .alpha,
  .omega {
    margin-left: 0;
    margin-right: 0;
  }
  .align_center,
  .align_right {
    text-align: left;
  }
  
  #nav {
    .menu { text-align: left; }
    .menu a { margin: 0.5em 2em 0.5em 0; }
    .search { margin: 0.5em 0; display: block; }
  }
  .popover-inner { max-width: 280px; }
  .nomobile { display: none; }
  #usabilla_live_button_container { display: none; }
}



