@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
/* These are 2013 colors */
/* k8 */
/* high */
/* 2014 summer update */
h2.grey {
  color: #556677;
}
html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: black;
  overflow-x: hidden;
  overflow-y: scroll;
  o-webkit-overflow-scrolling: touch;
}
body.schools-index {
  height: 100%;
}
.container {
  min-height: 100%;
  position: relative;
  padding-bottom: 70px;
}
.bodywrap {
  height: 100%;
  padding: 0 0 0 0;
  margin-bottom: 0;
}
.footer {
  position: absolute;
  width: 100%;
  margin-top: -200px;
  bottom: 0;
  padding: 10px 30px;
  background-color: #540a90;
  color: #14b2ae;
  font-size: 40px;
  font-family: 'Didact Gothic', sans-serif;
}
.float_right {
  float: right;
}
.float_left {
  float: left;
}
.clear_floats {
  clear: both;
}
.justify {
  text-align: justify;
}
.centered {
  text-align: center;
}
.hide {
  display: none;
}
.inline {
  display: inline-block;
}
.relative {
  position: relative;
}
.rounded {
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.ib {
  display: inline-block;
  float: none;
}
.subtle {
  color: #134370;
}
.printonly {
  display: none;
}
.popover .popover-inner {
  width: 500px;
}
.popover a.close {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #888;
}
.popover .popover-content {
  max-height: 400px;
  overflow-y: scroll;
}
.popover .popover-content table {
  width: 100%;
}
.popover .popover-content table th,
.popover .popover-content table td {
  padding: 0.25em 0.5em;
}
.popover .popover-content table tr:nth-child(even) {
  background-color: #f4f4f4;
}
.orange {
  color: #f05a29;
}
.bebas {
  font-family: 'bebas_neueregular';
}
.arial {
  font-family: 'Arial', 'sans-serif';
}
.boxsizing {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.lead {
  font-size: 23px;
}
table td,
table th {
  vertical-align: top;
}
h1 {
  color: #141414;
}
h3.bebas {
  font-size: 1.5em;
  color: #466778;
  margin-top: 0.5em;
}
h3.bebas.underlined {
  display: block;
  border-bottom: 1px solid #466778;
  padding-bottom: 5px;
}
h4 {
  color: #134370;
  text-transform: uppercase;
  margin: 0.5em 0 0 0;
}
hr {
  height: 1px;
  border: none;
  color: #35bff2;
  background-color: #35bff2;
}
.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading h4 {
  visibility: hidden;
}
.branding {
  text-align: left;
}
#search {
  margin-bottom: 20px;
}
a.external,
a.external:visited {
  color: #466778;
  font-family: sans-serif;
}
a.external img,
a.external:visited img {
  max-height: 13px;
  width: auto;
  margin-top: 6px;
}
#outer_wrapper {
  position: absolute;
  top: 80px;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
#outer_wrapper #lefty {
  position: absolute;
  left: 0px;
  width: 35%;
  top: 0px;
  bottom: 0px;
  box-sizing: border-box;
  padding: 1em;
  border-right: 1px solid #35bff2;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 10;
  border-right: 1px solid  $dblue;
}
#outer_wrapper #lefty h1 {
  margin-top: 0;
}
#outer_wrapper #lefty a.search {
  display: block;
  background-color: #14b2ae;
  color: white;
  margin: 0.5em 0;
}
#outer_wrapper #lefty a.do-compare {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 300px;
  display: block;
  background-color: #f05a28;
  font-size: 1.4em;
  text-align: center;
  box-sizing: border-box;
}
#outer_wrapper #lefty a.do-compare.hide {
  display: none;
}
#outer_wrapper .wrapper {
  height: 100%;
  position: relative;
  border: 1px solid #134370;
  padding-left: 35%;
}
#outer_wrapper .wrapper .key {
  left: 35%;
}
#block-boxes-school-score-widget .boxes-box-content .score-right {
  min-height: 130px;
  padding-top: 1em !important;
}
#block-boxes-school-score-widget .boxes-box-content .score-right form input[type=text] {
  margin: 1em 0;
}
#block-boxes-did-you-know h2.printonly {
  display: none;
}
.block--boxes-did-you-know ul.nav {
  display: inline-block;
  margin-left: 2em;
  position: relative;
  top: 7px;
}
.block--boxes-did-you-know .tab-content {
  border: 0;
}
#block-mailchimp-lists-get-email-updates .block__content a:link,
#block-mailchimp-lists-get-email-updates .block__content a:visited,
#block-mailchimp-lists-get-email-updates .block__content input[type=submit] {
  border: none;
}
#block-mailchimp-lists-get-email-updates .block__content h3 {
  margin: 0;
}
#other_profile,
#overview {
  position: relative;
}
#other_profile table td,
table#climate-help td,
#overview table td,
#other_profile table th,
table#climate-help th,
#overview table th {
  padding: 0.25em 1em;
  vertical-align: top;
}
#other_profile table td:nth-child(1),
table#climate-help td:nth-child(1),
#overview table td:nth-child(1) {
  text-align: right;
  min-width: 200px;
  width: 33%;
}
#other_profile table h3,
table#climate-help h3,
#overview table h3 {
  margin: 0;
  color: #35bff2;
}
#other_profile table,
#overview table {
  width: 100%;
}
.help {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}
.elements_wrapper {
  padding: 1em 1em 0 1em;
  background-color: white;
}
.elements_wrapper .element_label {
  min-height: 50px;
  margin: 3px 0;
  padding-top: 7px;
}
.elements_wrapper .elements_score {
  height: 45px;
  margin: 3px 0;
  background-image: url(/images/5e_scale.png);
  background-repeat: no-repeat;
  background-position: right top;
}
.elements_wrapper .elements_score .bar {
  position: absolute;
  left: 67px;
  height: 10px;
  top: 10px;
  background-color: #134370;
}
.elements_wrapper .circled {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  behavior: url(PIE.htc);
  width: 28px;
  height: 28px;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 0;
  text-align: center;
  background-color: #134370;
  color: white;
  margin-bottom: 10px;
}
.blue h2,
.blue h3 {
  background-color: #00aff0;
  padding: 0.5em;
  margin-bottom: 0;
  color: white;
}
.blue ul {
  background-color: #cff0fc;
  padding: 0;
  margin: 0;
  padding-top: 0.5em;
}
.blue ul li {
  padding: 0.5em;
  list-style: none;
}
.blue ul li a,
.blue ul li a:visited {
  color: black;
  font-weight: bold;
}
.blue ul li:hover {
  background-color: #78d5f7;
}
.map {
  width: 100%;
  height: 100%;
}
.leaflet-control-layers-base input,
.leaflet-control-layers-overlays input {
  display: inline;
}
#showing {
  padding: 10px 10px 10px 10px;
  position: absolute;
  right: 0px;
  top: 5px;
  width: 300px;
  max-width: 100%;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
}
.form-search input[type=text],
.form-byname input[type=text] {
  display: block;
  width: 100% !important;
  margin-bottom: 0.5em !important;
}
.form-search input,
.form-byname input,
.form-search select,
.form-byname select,
.form-search .btn,
.form-byname .btn {
  margin-bottom: 0.5em;
}
.form-byname input[type=text] {
  width: 270px;
  max-width: 100%;
}
ul.school_list {
  padding-left: 0;
}
ul.school_list li.school {
  list-style: none;
  margin-bottom: 1em;
  position: relative;
  padding-left: 50px;
  padding-top: 0px;
}
ul.school_list li.school .mini-el-icon {
  position: absolute;
  left: 0px;
  top: 6px;
  height: auto;
  width: 40px;
}
ul.school_list li.school h3 {
  margin-top: 0;
  margin-bottom: 0;
}
#block-boxes-school-score-widget.block.block--boxes.block--boxes-simple.block--boxes-school-score-widget.by-name .score-right {
  background-image: url('/images/theme/schoolbook_icon.png');
  background-position-x: 10px;
  background-position-y: 10px;
}
.column {
  width: 280px;
  float: left;
  margin-right: 10px;
}
.k12 .grade_container {
  width: 130px;
  height: 0px;
  margin-bottom: 0;
}
.k12 .grade_container .grade {
  background-color: #29b473;
}
.k12 h2.block__title img {
  height: 32px;
  width: auto;
  margin: -8px 4px -8px 0px;
  vertical-align: middle;
  position: relative;
}
.k12 .subscore_wrapper table.scores {
  width: 100%;
}
.k12 .subscore_wrapper table.scores h3 {
  color: #35bff2;
  margin: 0;
}
.k12 .subscore_wrapper table.scores tr {
  border-bottom: 1px solid #35bff2;
}
.k12 .subscore_wrapper table.scores td,
.k12 .subscore_wrapper table.scores th {
  text-align: left;
  padding: 6px 15px;
  vertical-align: top;
}
.k12 .subscore_wrapper table.scores td:nth-child(1) {
  width: 450px;
  text-align: right;
}
.k12 .subscore_wrapper table.scores td i.help {
  top: 0;
  right: 0;
}
.k12 .subscore_wrapper table.scores tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2);
}
.k12.top .grade_container {
  width: 80px;
  height: 80px;
}
.k12.top .boxes-box-content {
  min-height: 80px;
  position: relative;
}
.k12.top .subscore_wrapper {
  margin-left: 80px;
}
.k12.top .grade {
  width: 70px;
  height: 60px;
  font-size: 40px;
  margin-bottom: 2px;
}
.k12.top .grade.sub3 {
  font-size: 12px;
  width: 70px;
  height: 25px;
  padding: 5px;
}
.grade {
  display: inline-block;
  background-color: #00aff0;
  font-size: 70px;
  color: white;
  width: 130px;
  height: 105px;
  padding: 8px 5px;
  text-align: center;
  margin-bottom: 10px;
}
.grade.na {
  font-size: 55px;
  padding-top: 20px;
}
.grade.earlychild {
  font-size: 18px;
  height: auto;
}
.grade.sub {
  font-size: 18px;
  width: 40px;
  height: 40px;
  display: inline-block;
}
.grade.sub.na {
  font-size: 15px;
  padding-top: 11px;
}
.grade.sub a {
  color: white;
}
.grade.sub3 {
  font-size: 18px;
  width: 130px;
  height: 40px;
  display: inline-block;
}
.grades a,
.dropdown > a,
.filter > a {
  font-size: 1.3em;
  background-color: white;
  margin-bottom: 1em;
  padding: 5px 8px;
}
.grades a.active,
.dropdown > a.active,
.filter > a.active {
  color: white;
}
.dropdown > a {
  color: #556677;
  border: 2px solid #14b2ae;
}
.dropdown > a.active {
  color: white;
  background-color: #14b2ae;
}
.filter > a {
  color: #14b2ae;
  border: 2px solid #14b2ae;
}
.filter > a.active {
  background-color: #14b2ae;
}
.home-index select,
.schools-index select {
  width: 100%;
}
.home-index input[type=text],
.schools-index input[type=text] {
  font-size: 1.3em;
  padding: 5px 8px;
  margin-bottom: 1em;
  max-width: 100%;
  width: 100%;
}
.home-index input[type=text]#q,
.schools-index input[type=text]#q {
  margin-top: 0;
}
.home-index .btn.search,
.schools-index .btn.search {
  background-color: #14b2ae;
  color: white;
  width: 100%;
  font-size: 1.3em;
  text-align: left;
  float: left;
}
.home-index .dropdown,
.schools-index .dropdown,
.home-index .filter,
.schools-index .filter {
  width: 100%;
  float: left;
}
.home-index .dropdown a.trigger,
.schools-index .dropdown a.trigger,
.home-index .filter a.trigger,
.schools-index .filter a.trigger {
  cursor: pointer;
  display: block;
}
#lefty .grades a {
  font-size: 13px;
}
.schools-index .l-footer-wrapper {
  display: none;
}
.site-logo img {
  max-width: 100%;
  height: auto;
}
.graph,
.history {
  height: 250px;
  float: left;
  margin-right: 50px;
  margin-bottom: 20px;
  max-width: 100%;
}
.profile .lead {
  color: #134370;
  margin-bottom: 0em;
}
.profile .nav-pills > li > a {
  color: #134370;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.profile .nav-pills > li > a:hover {
  background-color: #e2e2e2;
}
.profile .nav-pills > li.active > a {
  color: white;
}
table.compare {
  margin: 2em 0;
  font-size: 0.9em;
}
table.compare tbody tr:nth-child(odd) {
  background-color: #f4f8ff;
}
table.compare td,
table.compare th {
  border-collapse: collapse;
  max-width: 300px;
  padding: 0.5em 1em;
  text-align: left;
}
table.compare td:first-child,
table.compare th:first-child {
  text-align: right;
}
table.compare td h3,
table.compare th h3 {
  margin-top: 0;
}
table.compare td a.close,
table.compare th a.close {
  font-size: 0.7em;
  color: white;
  margin-left: 10px;
}
.tab-content .tab-pane {
  padding: 1em 8em 4em 8em;
}
ul.nav li {
  width: 23.5%;
  background-color: #dae1e4;
  text-align: center;
  margin-right: 2%;
  border-radius: 4px 4px 0 0;
}
ul.nav li a {
  min-height: 195px;
  padding: 9px 0 9px 0;
}
ul.nav li.active {
  background-color: white;
}
ul.nav li:last-of-type {
  margin-right: 0;
}
ul.nav img {
  margin-top: 1em;
}
ul.nav .question {
  color: #466778;
  border-bottom: 1px solid #35bff2;
  display: block;
  padding: 0 9px 9px 9px;
  font-size: 1.2em;
  text-align: left;
}
ul.nav .question.hide {
  display: none;
}
ul.nav .stars {
  display: block;
  margin-top: 30%;
  font-size: 2em;
}
ul.nav li.active .question {
  color: #35bff2;
}
.overall-stars {
  font-size: 2em;
  padding-top: 10px;
}
.turquoise {
  color: #466778;
}
.earlychild .community_line:first-of-type {
  border-top: 1px solid #35bff2;
}
.earlychild #state p {
  border-bottom: 1px solid #35bff2;
  padding-bottom: 1em;
}
.earlychild #state table {
  width: 100%;
}
.earlychild #state table thead {
  font-size: 1.5em;
}
.earlychild #state table thead th {
  text-align: left;
}
.earlychild #state table td,
.earlychild #state table th {
  padding: 9px 20px;
  border-bottom: 1px solid #35bff2;
}
.earlychild #state table td:first-child,
.earlychild #state table th:first-child {
  text-align: center;
}
.earlychild #state .gs-logo {
  width: 200px;
  height: auto;
  position: absolute;
  right: 0px;
  top: 0px;
}
.earlychild #staff .staff-rating {
  position: relative;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 40px;
}
.earlychild #staff .staff-rating .axis {
  text-align: center;
  color: #27b373;
}
.earlychild #staff .staff-rating .axis .left {
  float: left;
}
.earlychild #staff .staff-rating .axis .right {
  float: right;
}
.earlychild #staff .staff-rating .bar {
  height: 20px;
}
.earlychild #staff .staff-rating .bar div {
  height: 100%;
  display: inline-block;
  margin-right: -4px;
}
.earlychild #staff .staff-rating .bar .light-green {
  background-color: #d4f0e3;
  width: 50%;
}
.earlychild #staff .staff-rating .bar .bronze {
  background-color: #a17644;
  width: 20%;
}
.earlychild #staff .staff-rating .bar .silver {
  background-color: #938886;
  width: 20%;
}
.earlychild #staff .staff-rating .bar .gold {
  background-color: #ffc75d;
  width: 10%;
}
.earlychild #staff .staff-rating .not-rated {
  color: #f05a29;
  font-size: 14px;
  text-align: center;
}
.earlychild #staff .staff-rating .pointer {
  position: absolute;
  border-right: 2px solid #27b373;
  padding-right: 0.5em;
}
.earlychild #staff .staff-rating .pointer.state {
  top: 0px;
  padding-bottom: 45px;
  color: #27b373;
  font-size: 90%;
}
.earlychild #staff .staff-rating .pointer.score {
  bottom: 0px;
  padding-top: 35px;
  color: #35bff2;
  border-color: #35bff2;
}
.earlychild .points {
  color: #35bff2;
}
.earlychild .stars {
  color: #35bff2;
  letter-spacing: -2px;
  font-size: 1.4em;
  margin-right: 9px;
}
.earlychild .grade-legend {
  margin-top: 1em;
  clear: both;
}
.earlychild .grade-legend h3 {
  padding-top: 0.5em;
}
.earlychild .grade-legend img {
  width: 60px;
  height: auto;
  margin-right: 1em;
  margin-bottom: 1em;
  float: left;
}
.earlychild .el-icon,
.k12 .el-icon,
.earlychild .mini-el-icon,
.k12 .mini-el-icon {
  width: 60%;
  height: auto;
}
.earlychild .overall-seal .centered.nomobile,
.k12 .overall-seal .centered.nomobile {
  display: block !important;
}
.earlychild .el-icon.overview,
.k12 .el-icon.overview {
  margin-top: 0;
}
.earlychild .mini-el-icon,
.k12 .mini-el-icon {
  width: 40px;
  height: auto;
  float: right;
  margin-left: 0.5em;
}
.earlychild .overall-seal,
.k12 .overall-seal {
  padding-top: 1em;
  text-align: center;
}
.earlychild .overall-seal .el-icon,
.k12 .overall-seal .el-icon {
  width: 100%;
  height: auto;
  margin-top: 1em;
  max-width: 200px;
}
.earlychild .community_line,
.k12 .community_line {
  border-bottom: 1px solid #35bff2;
  padding: 0.5em 0;
  position: relative;
  padding-bottom: 0.66em;
}
.earlychild .community_line .score,
.k12 .community_line .score {
  position: absolute;
  left: 0px;
  top: 0.5em;
}
.earlychild .community_line h3,
.k12 .community_line h3 {
  margin-top: 0;
}
.earlychild .community_line .statement,
.k12 .community_line .statement,
.earlychild .community_line .explanation,
.k12 .community_line .explanation {
  padding-left: 80px;
}
.earlychild .community_line .statement,
.k12 .community_line .statement {
  color: #35bff2;
  margin-bottom: 3px;
}
.earlychild .community_line.level-0,
.k12 .community_line.level-0 {
  font-size: 1.2em;
  padding-left: 30px;
}
.earlychild .community_line.level-1,
.k12 .community_line.level-1 {
  padding-left: 30px;
}
.earlychild .community_line.level-2,
.k12 .community_line.level-2 {
  font-size: 0.9em;
  padding-left: 50px;
}
.k12 .el-icon {
  marign-top: 0;
}
.home-index ul.nav li {
  width: 30%;
  margin-right: 2%;
}
.home-index ul.nav li a {
  min-height: 0;
  padding-bottom: 0;
}
.home-index ul.nav li a .question {
  border-bottom: none;
}
.home-index ul.nav.left li {
  width: 100%;
  margin-right: 0;
}
.home-index .tab-content .tab-pane {
  padding: 1em;
  padding-top: 1.5em;
}
.home-index .block {
  background-color: white;
  padding: 1em 2em;
  border: 1px solid #35bff2;
}
.home-index #top-tabs.nav-tabs > li.active > a {
  background-color: #dae1e4;
}
.home-index #top-tabs.nav-tabs > li.active > a .question {
  border-bottom: 1px solid #35bff2;
  color: #466778;
}
.home-index #top {
  background-color: #dae1e4;
}
.home-index #top ul.top {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}
.home-index #top ul.top li {
  margin-bottom: 1em;
}
.home-index #top ul.top li a,
.home-index #top ul.top li a:visited {
  color: #466778;
}
.home-index #top ul.top .mini-icon {
  height: 25px;
  width: auto;
  margin-right: 1em;
}
.share {
  margin: 0.5em 0;
}
.share .share-button {
  display: inline-block;
  width: 24px;
  height: 30px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  margin-right: 0px;
}
.share #fb-share {
  background-image: url(/images/el_icons/facebook_sprite.png);
  background-position: 5px 0px;
}
.share #fb-share:hover {
  background-position: 5px -74px;
}
.share #tw-share {
  background-image: url(/images/el_icons/twitter_sprite.png);
  background-position: 0px 2px;
}
.share #tw-share:hover {
  background-position: 0 -68px;
}
.share #plus-share {
  background-image: url(/images/el_icons/googleplus_sprite.png);
  background-position: 0px 2px;
}
.share #plus-share:hover {
  background-position: 0 -72px;
}
.share #pin-share {
  background-image: url(/images/el_icons/pinterest_sprite.png);
  background-position: 0px 2px;
}
.share #pin-share:hover {
  background-position: 0 -73px;
}
.dropdown {
  position: relative;
}
.dropdown-toggle {
  *margin-bottom: -3px;
}
.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -99999px;
  *text-indent: 0;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  content: "\2193";
  float: right;
}
.plus:after {
  display: inline-block;
  *text-indent: 0;
  vertical-align: top;
  filter: alpha(opacity=30);
  content: "\002B";
  color: white;
  float: right;
}
.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}
.dropdown:hover .caret,
.open.dropdown .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1100;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.dropdown-menu.bottom-up {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 5px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
  *width: 100%;
  *margin: -5px 0 5px;
}
.dropdown-menu a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
}
.dropdown.open {
  *z-index: 1100;
}
.dropdown.open .dropdown-toggle {
  color: #ffffff;
  background: #ccc;
  background: rgba(0, 0, 0, 0.3);
}
.dropdown.open .dropdown-menu {
  display: block;
}
.typeahead {
  margin-top: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  z-index: 1105;
}
.btn {
  background-color: #134370;
  color: white;
  padding: 0.5em;
}
.btn img {
  max-height: 1em;
  width: auto;
  margin-right: 0.5em;
}
.btn.light {
  background-color: white;
  border: 1px solid #27b373;
  color: #27b373;
}
a,
a:visited,
a:active,
a:hover,
a.external,
a.external:visited {
  color: #14b2ae;
  font-family: 'Didact Gothic', sans-serif;
}
.brand {
  color: #14b2ae;
  font-size: 45px;
  font-family: 'Didact Gothic', sans-serif;
}
.brand :hover {
  color: #14b2ae;
}
.menu {
  position: absolute;
  width: 100%;
  margin-left: -20px;
  z-index: 1000;
  border-bottom: 1px solid #dedede;
  text-align: right;
  float: right;
  display: none;
  text-align: left;
}
.menu.active {
  display: block;
  float: none;
}
.menu a.btn {
  display: block;
  clear: both;
  padding: 0.5em 1em;
}
.school-nav-title {
  color: #4e4040;
}
#nav {
  padding: 10px 20px;
  color: #14b2ae;
  border-bottom: 2px solid #dedede;
}
#nav a span {
  color: #14b2ae;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 25px;
}
#nav #hamburger {
  top: 11px;
  background-color: transparent;
  float: left;
  border: 2px solid #540a90;
  border-radius: 2px 2px 2px 2px;
  cursor: pointer;
  display: block;
  padding: 1px 5px;
  position: relative;
  width: 70px;
  background: #fff;
}
#nav #hamburger span {
  float: left;
}
#nav #hamburger div {
  float: right;
  background-color: #540a90;
  border: 0.1em solid #540a90;
  border-radius: 2px 2px 2px 2px;
  margin-top: 6px;
  width: 35%;
}
#nav #hamburger div:first-of-type {
  margin-top: 8px;
}
#nav a.btn {
  background-color: white;
  color: #14b2ae;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 20px;
}
#nav a.btn:hover {
  background-color: #dedede;
}
.under-construction {
  height: 70px;
  width: 97%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5em;
  background-color: #f05a29;
}
.under-construction h2 {
  padding: 0.45em 1.4em;
  color: white;
}
.info-region {
  margin-bottom: 10px;
}
.breadcrumbs {
  float: left;
  width: 450px;
  padding: 10px 5px 10px 20px;
}
.breadcrumbs h2 {
  margin-left: 40px;
  color: #404040;
  font-family: 'Crimson Text', serif;
  font-size: 25px;
}
.border-bottom {
  border-bottom: 1px solid #dedede;
}
.section-title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #a2e5e8;
  text-align: center;
  cursor: pointer;
}
.section-title h2 {
  color: #141414;
  margin-bottom: 0;
  padding: 10px 0 15px 0;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 32px;
}
.section-title.closed {
  background-color: #e4f799;
}
.school-image img {
  width: 100%;
}
.school-title {
  padding: 10px;
  background-color: #e7e5f3;
}
.school-title h1 {
  margin: 0px;
  color: #141414;
  font-family: 'Crimson Text', serif;
  font-size: 47px;
}
.field {
  overflow: auto;
  padding: 15px 10px;
  color: #636466;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 20px;
  display: inherit;
}
.field a {
  display: inline-block;
}
.field_key {
  float: left;
  width: 50%;
}
.field-value {
  float: right;
  width: 50%;
  color: #141414;
  font-family: 'Crimson Text', serif;
  text-align: right;
}
.overview-text {
  padding: 20px 15px 0 15px;
  color: #141414;
  font-family: 'Crimson Text', serif;
  font-size: 23px;
}
.contact {
  padding: 10px 0 10px 25px;
  color: #636466;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 23px;
}
.map > .wrapper .map {
  height: 230px;
}
.schools-index .results {
  margin-top: 30px;
  float: left;
  width: 35%;
  max-height: 500px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.schools-index .wrapper {
  float: right;
  width: 65%;
  height: 510px;
}
.schools-index .wrapper .map .key {
  padding: 10px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 600px;
  max-width: 100%;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
}
.schools-index .wrapper .map .key .square {
  width: 14px;
  height: 14px;
  margin-right: 3px;
  display: inline-block;
  border: 1px solid #333;
  float: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.schools-index .wrapper .map .key .item {
  text-wrap: none;
  white-space: nowrap;
  margin-right: 1em;
}
.back-arrow-icon {
  float: left;
  height: 18px;
  width: 23px;
  margin: 15px 15px 0 0;
  background-image: url(/images/icons/png/arrow_left.png);
  background-repeat: no-repeat;
}
.compare-arrow-icon {
  float: left;
  height: 19px;
  width: 18px;
  margin: 7px 10px 0 0;
  background-image: url(/images/icons/png/arrow_45_up.png);
  background-repeat: no-repeat;
}
.transportation-icon {
  float: left;
  height: 75px;
  width: 50%;
  background-image: url(/images/icons/png/transportation.png);
  background-repeat: no-repeat;
  background-position: top;
}
.schedule-icon {
  float: right;
  width: 50%;
  background-image: url(/images/icons/png/schedule.png);
  background-repeat: no-repeat;
  background-position: top;
  text-align: bottom;
}
.act-icon {
  float: left;
  height: 26px;
  width: 22px;
  margin: 0 10px 0 0;
  background-image: url(/images/icons/png/ACT.png);
  background-repeat: no-repeat;
}
.plus-icon {
  float: left;
  height: 19px;
  width: 19px;
  margin: 4px 10px 0 0;
  background-image: url(/images/icons/png/plus.png);
  background-repeat: no-repeat;
}
.icon-text {
  margin-top: 45px;
  color: #141414;
  font-family: 'Crimson Text', serif;
  text-align: center;
}
.envelope-icon {
  float: left;
  margin-top: 7px;
  margin-right: 8px;
  width: 22px;
  height: 22px;
  background-image: url(/images/icons/png/envelope.png);
  background-repeat: no-repeat;
  background-size: 101%;
}
.phone-icon {
  float: left;
  margin-top: 3px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url(/images/icons/png/phone.png);
  background-repeat: no-repeat;
  background-size: 101%;
}
.website-icon {
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url(/images/icons/png/pointer.png);
  background-repeat: no-repeat;
  background-size: 101%;
}
.facebook-icon {
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url(/images/icons/png/facebook.png);
  background-repeat: no-repeat;
  background-size: 101%;
}
.circle {
  position: relative;
  margin-left: 70px;
  width: 110px;
  height: 110px;
  border-radius: 55px;
  font-size: 20px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  background: #ffffff;
}
.increasing-growth {
  margin: 30px auto 0 auto;
  width: 68px;
  height: 157px;
  background-image: url(/images/icons/png/arrow_up.png);
  background-repeat: no-repeat;
}
.decreasing-growth {
  margin: 30px auto 0 auto;
  width: 68px;
  height: 157px;
  background-image: url(/images/icons/png/arrow_down.png);
  background-repeat: no-repeat;
}
.header {
  padding: 10px 15px;
  color: #141414;
  font-size: 30px;
  font-family: 'Didact Gothic', sans-serif;
  text-align: center;
}
.stat-region .content {
  text-align: center;
  background-color: #e7e5f3;
  min-height: 250px;
}
.stat-region .content .visual,
.stat-region .content .subjects {
  padding: 0 1%;
}
.stat-region .content .visual {
  position: relative;
  margin-top: 27px;
  display: block;
  float: left;
}
.stat-region .content .visual > div {
  margin: auto;
  text-align: center;
}
.stat-region .content .visual .subjects .subject {
  width: 250px;
}
.stat-region .content .subjects {
  position: relative;
  margin-top: 27px;
  float: right;
}
.stat-region .content .subjects .subject {
  cursor: pointer;
  margin: 10px 0;
  padding: 5px 5px;
  text-align: center;
  color: white;
  font-size: 20px;
}
.stat-region .content .subjects .subject .title {
  margin: auto;
  padding: 5px 10px;
  max-width: 285px;
  background-color: #636466;
}
.stat-region .content .subjects .subject.active .title {
  background-color: #540a90;
}
.stat-region .links {
  text-align: left;
  display: inline-block;
  padding: 10px;
  background-color: #f3f3f9;
  font-size: 19px;
}
.stat-region .links .compare {
  margin: 8px;
  color: #636466;
}
.stat-region .links .compare span {
  color: #ec5932;
}
.stat-region .links .message {
  margin: 7px;
  color: #a0a0a0;
}
.school-header {
  background-color: #e7e5f3;
}
@media only screen and (max-width: 959px) {
  body {
    min-width: 0px;
  }
  h2 {
    margin-top: 0px;
  }
  .container_12 {
    width: auto;
  }
  .container_12 .grid_1,
  .container_12 .grid_2,
  .container_12 .grid_3,
  .container_12 .grid_4,
  .container_12 .grid_5,
  .container_12 .grid_6,
  .container_12 .grid_7,
  .container_12 .grid_8,
  .container_12 .grid_9,
  .container_12 .grid_10,
  .container_12 .grid_11,
  .container_12 .grid_12 {
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    width: auto;
    float: none;
  }
}
@media only screen and (max-width: 900px) {
  .schools-index .results,
  .schools-index .wrapper {
    float: none;
    width: 100%;
  }
  .schools-index .wrapper {
    top: 80px;
    height: 250px;
  }
  .schools-index .results {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
@media only screen and (max-width: 499px) {
  .brand {
    padding-left: 5%;
  }
  .breadcrumbs {
    width: 350px;
  }
  .links {
    margin: 20px 30px;
  }
  .bar-graph {
    width: 70%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 399px) {
  .visual > div {
    position: absolute;
  }
  .stat-region .content .subjects {
    margin-right: 0;
    max-width: 200px;
  }
  .stat-region .content .visual,
  .stat-region .content .subjects {
    padding: 0;
  }
  .stat-region .content .visual .bar-graph {
    margin: 10px 0 0 20px;
  }
  .increasing-growth {
    margin-left: 100%;
  }
  .decreasing-growth {
    margin-left: 100%;
  }
  .footer {
    font-size: 35px;
    padding: 10px 10px;
  }
  .stat-region .links {
    font-size: 13px;
  }
  .stat-region .links .compare {
    display: inherit;
  }
  .stat-region .links .field {
    font-size: 17px;
  }
  .content .subjects .subject {
    font-size: 17px;
  }
  .header {
    font-size: 25px;
  }
  .brand {
    font-size: 35px;
  }
  .section-title h2 {
    font-size: 27px;
  }
  .breadcrumbs h2 {
    font-size: 21px;
  }
  .school-title h1 {
    font-size: 35px;
  }
  .contact {
    font-size: 17px;
  }
}
@media only screen and (min-width: 399px) {
  .increasing-growth {
    margin-left: 100%;
  }
  .decreasing-growth {
    margin-left: 100%;
  }
}
@media only screen and (min-width: 480px) {
  .visual,
  .subjects {
    width: 40%;
    padding: 0 5%;
  }
  .links {
    margin: 30px 15%;
  }
  #academics .field {
    text-align: center;
  }
  .field span {
    display: inline-block;
  }
  .stat-region .content .subjects {
    margin-right: 10px;
  }
  .increasing-growth {
    margin-left: auto;
  }
  .decreasing-growth {
    margin-left: auto;
  }
}
@media only screen and (min-width: 500px) {
  .visual,
  .subjects {
    width: 45%;
    padding: 0 5%;
  }
  .brand {
    padding-left: 15%;
  }
  .breadcrumbs {
    width: 450px;
  }
}
@media only screen and (min-width: 555px) {
  .stat-region {
    border-bottom: 2px solid #636466;
    padding: 30px 0;
  }
  .links {
    margin: 30px 20%;
  }
  .stat-region .content .visual > div {
    width: 250px;
    height: 234px;
  }
}
@media only screen and (min-width: 663px) {
  .links {
    margin: 30px 25%;
  }
}
@media only screen and (min-width: 800px) {
  .school-header {
    display: inline-block;
    display: block;
    overflow: hidden;
  }
  .overview-text {
    padding: 0;
  }
  .fields,
  .school-image {
    width: 40%;
    float: right;
    margin-left: 50px;
  }
  .school-title {
    width: 60%;
    height: inherit;
  }
  .school-image {
    width: 40%;
    height: inherit;
  }
  .brand {
    padding-left: 20%;
  }
}
@media only screen and (min-width: 960px) {
  h2 {
    margin-top: 0;
  }
  .middle {
    max-width: 960px;
    margin: auto;
  }
  .container_12 {
    width: auto;
  }
  .padding-left {
    padding-left: 20%;
  }
  .padding-right {
    padding-right: 40%;
  }
  .stat-region {
    background-color: #e7e5f3;
  }
  .breadcrumbs {
    margin-left: 140px;
  }
  #hamburger {
    margin-left: 140px;
  }
  .breadcrumbs {
    width: 450px;
  }
}
@media only screen and (min-width: 1005px) {
  .links .compare,
  .links .message {
    display: inline-block;
  }
}
@media only screen and (min-width: 1020px) {
  .visual {
    padding-left: 3%;
  }
}
@media only screen and (min-width: 1080px) {
  .visual {
    padding-left: 5%;
  }
}
@media only screen and (min-width: 1112px) {
  .stat-region .content .visual {
    width: 100%;
  }
  .stat-region .content .visual > div:nth-child(n + 1) {
    float: left;
  }
  .stat-region .content .visual > div {
    width: 25%;
    float: none;
    display: inline-block;
  }
  .stat-region .content .subjects {
    width: 100%;
    clear: both;
    float: none;
  }
  .stat-region .content .subjects .subject:nth-child(n + 1) {
    float: left;
  }
  .stat-region .content .subjects .subject {
    width: 25%;
    float: none;
    display: inline-block;
    cursor: none;
  }
  .stat-region .content .subjects .subject.active .title {
    background-color: #636466;
  }
  .stat-region.three-columns .visual div,
  .stat-region.three-columns .subjects .subject {
    width: 33%;
  }
}
@media only screen and (min-width: 1219px) {
  .stat-region {
    border-bottom: 1px solid #636466;
    padding: 30px 0;
  }
  .stat-region .content .visual {
    width: 100%;
  }
  .stat-region .content .visual > div:first-child {
    float: left;
  }
  .stat-region .content .visual > div {
    width: 25%;
    float: none;
    display: inline-block;
  }
  .stat-region .content .subjects {
    width: 100%;
    clear: both;
    float: none;
  }
  .stat-region .content .subjects .subject:first-child {
    float: left;
  }
  .stat-region .content .subjects .subject {
    width: 25%;
    float: none;
    display: inline-block;
    cursor: none;
  }
  .stat-region .content .subjects .subject .title {
    text-align: center;
  }
  .stat-region .content .subjects .subject.active .title {
    background-color: #636466;
  }
  .stat-region.three-columns .visual div,
  .stat-region.three-columns .subjects .subject {
    width: 33%;
  }
}
