.home.middle
  .links
    %h3.bebus.underlined Info for Families
    %a(href="https://www.excellentschoolsdetroit.org/en/choose-a-school" target="_blank") How to choose a school
    %br
    %a(href="https://www.excellentschoolsdetroit.org/en/prepare-for-kindergarten" target="_blank") Prepare your child for kindergarten
    %br
    %a(href="http://excellentnews.tv/" target="_blank") Excellent News: videos about what's working in Detroit schools
    %br
    %a(href="https://www.excellentschoolsdetroit.org/en/preschool" target="_blank") A guide for Detroit parents with young kids

    %h3.bebas.underlined Other School Ranking Information

    %a(href="https://www.excellentschoolsdetroit.org/en/school-review" target="_blank") Learn more about how we review schools.</a><br/>
    %br
    %a(href="http://www.greatschoolsdetroit.org" target="_blank") Finding a great school in Detroit</a><br/>
  .video-frame
    %iframe#video(src="https://player.vimeo.com/video/131640996?color=ffffff"
      width="100%"
      height="100%"
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
      )
