.home.middle
  .container_12
    <h3 class='bebas underlined'>Info for Families</h3>
    <a href="https://www.excellentschoolsdetroit.org/en/choose-a-school" target="_blank">How to choose a school</a><br/>
    <a href="https://www.excellentschoolsdetroit.org/en/prepare-for-kindergarten" target="_blank">Prepare your child for kindergarten</a><br/>
    <a href="http://excellentnews.tv/" target="_blank">Excellent News: videos about what's working in Detroit schools</a><br/>
    <a href="https://www.excellentschoolsdetroit.org/en/preschool" target="_blank">A guide for Detroit parents with young kids</a></br>

    <h3 class='bebas underlined'>Other School Ranking Information</h3>

    <a href="https://www.excellentschoolsdetroit.org/en/school-review" target="_blank">Learn more about how we review schools.</a><br/>
    <a href="http://www.greatschoolsdetroit.org" target="_blank">Finding a great school in Detroit</a><br/>

