.share
  %a{:href => twitter_link}
    #tw-share.share-button
  %a{:href => facebook_link}
    #fb-share.share-button
  - if false
    %a{:href => '#'}
      #plus-share.share-button
    %a{:href => '#'}
      #pin-share.share-button
