%table.scores
  %thead
    %tr
      %th 
      %th Score
      %th Pts
      %th Max
  - scores.andand.each do |h|
    %tr
      %td= h[:name]
      %td= h[:value]
      %td= h[:points]
      %td= h[:possible]