%table{:style => 'width: 100%;'}
  %tr
    %td{:style => 'width: 50%; vertical-align: top;'}
      %ul
        - num_in_first = (items.length/2.0).ceil
        - items[0...num_in_first].each do |i|
          %li= i
    %td{:style => 'width: 50%; vertical-align: top;'}
      %ul
        - items[num_in_first..-1].each do |i|
          %li= i

