.grid_3.alpha{:style => 'margin-bottom: 1em;'}
  - mid = (items.length/2).ceil
  - items[0...mid].each do |i|
    = i
    %br/
  
.grid_3.omega{:style => 'margin-bottom: 1em;'}
  - items[mid..-1].each do |i|
    = i
    %br/
