%table{:style => 'width: 100%;'}
  %tr
    %td{:style => 'width: 50%; vertical-align: top;'}
      %ul
        - mid = (items.length/2).ceil
        - items[0...mid].each do |i|
          %li= i
    %td{:style => 'width: 50%; vertical-align: top;'}
      %ul
        - items[mid+1..-1].each do |i|
          %li= i

