%h1 2013 Scorecard

%p.lead Excellent Schools Detroit reviews Detroit schools each year and produces a scorecard that measures school quality.


#block-boxes-school-score-widget.block.block--boxes.block--boxes-simple.block--boxes-school-score-widget.by-zip
  %h2.block__title  Search for Schools by Zip Code
  .block__content
    #boxes-box-school_score_widget.boxes-box
      .boxes-box-content
        .score-right
          - if false
            %p.count
          #front-filter{:style => 'width: 350px;'}  
            = render :partial => 'shared/filters'
        .clear_floats



#block-boxes-school-score-widget.block.block--boxes.block--boxes-simple.block--boxes-school-score-widget.by-name
  %h2.block__title Search for Schools by Name
  .block__content
    #boxes-box-school_score_widget.boxes-box
      .boxes-box-content
        .score-right
          #front-filter{:style => 'width: 350px;'}  
            = form_tag '/search', { :method => :post, :class => 'form-byname search' } do
              = text_field_tag :q, nil, :placeholder => 'Search by school name'
              .section-learn
                .l-content-right
                  %ul.menu
                    %li
                      %a#name-search{:href => '#'} Search
            :javascript
              $(document).ready(function() {
                var school_names = #{School.select('id, name').collect { |s| s.name }.to_json};
                $('input#q').typeahead({ source: school_names });
                $('#name-search').click(function(e) {
                  $('.form-byname').submit();
                  return false;
                });


              });
        .clear_floats



  

.clear_floats
%br/
%br/

