.summary
  .container_12
    .grid_8{:style => 'padding: 4em 0 1em 0;'}
      %h1 Excellent Schools Detroit Report Card  
      %br/
      %br/
      
      = render :partial => 'shared/filters'

      %h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempor justo eros. Curabitur magna libero, dictum sed scelerisque eget, lacinia id tortor. Nunc non semper eros. Quisque scelerisque condimentum turpis, vel aliquam nisi rutrum adipiscing. Integer venenatis libero at neque viverra cursus porta elit malesuada.
      %br/
      %br/
    
    .grid_4{:style => 'text-align: center; padding: 4em 0;'}
      = image_tag 'cover.png', :class => 'noprint'
      
  .container_12
    .grid_12{:style => 'text-align: center;'}
 

.clear_floats
%br/
%br/

