.summary
  .container_12
    .grid_8{:style => 'padding: 4em 0 1em 0;'}
      %h1 Excellent Schools Detroit Score Card
      %br/
      %br/
      %h2 Begin your search for an excellent school:
      %br/
      = render :partial => 'shared/filters'
    
    .grid_4{:style => 'text-align: center; padding: 4em 0;'}
      = image_tag 'cover.png', :class => 'noprint'
      
  .container_12
    .grid_12{:style => 'text-align: center;'}
 

.clear_floats
%br/
%br/

