.summary
  .container_12
    .grid_8{:style => 'padding: 4em 0 1em 0;'}
      %h1 Excellent Schools Detroit Report Card  
      %br/
      %br/
      
      = render :partial => 'shared/filters'

      %h2 To become excellent, Detroit's schools need clear and consistent information about how they're doing. Our children's futures depend on it. This site gives you school-level profiles and begins to connect the dots between school quality and accountability.
      %br/
      %br/
    
    .grid_4{:style => 'text-align: center; padding: 4em 0;'}
      = image_tag 'cover.png', :class => 'noprint'
      
  .container_12
    .grid_12{:style => 'text-align: center;'}
 

.clear_floats
%br/
%br/

