.container_12
  .middle
    %h1 Find the best Detroit schools for your family.
    %h2 What is important to you? Select what you need your school to offer:

%br/

.container_12
  .middle
    #search
      = render 'shared/search'

  %br/
  %br/

:javascript
  var charFilters = {};
  $(document).ready(function() {
    var school_names = #{School.select('name').collect { |s| s.name }};
    $('input#q').typeahead({ source: school_names });

    $('.btn-group.grades a').click(function(e) {
      var kind = $(this).data('filter');
      $('.top-title, ul.top').addClass('hide');
      $(".top-title[data-kind='" + kind + "'], ul.top[data-kind='" + kind + "']").removeClass('hide');
      return false;
    });

    $('#characteristics .search').click(function(e) {
      var j = JSON.stringify(charFilters);
      var f = $('.char-form input#filter').val();
      if($.isEmptyObject(j) && !f) {
        return false;
      }
      $('.char-form input#complex').val(j);
      $('.char-form').submit();
      return true;
    });
  });


