- if list.present?
  - s = list.size
  - if s > 6
    .left
      %ul
        - list[0..s / 2].each do |i|
          %li
            = i
    .right
      %ul
        - list[s / 2 + 1..s - 1].each do |i|
          %li
            = i
  - else
    %ul
      - list.each do |i|
        %li
          = i
