- if list && !list.empty?
  - s = list.size
  .left.twenty-five
    %ul
      - list[0..s / 4].each do |i|
        %li
          = i
  - if s > 4
    .left.twenty-five
      %ul
        - list[s / 4 + 1..s / 2].each do |i|
          %li
            = i
  - if s > 8
    .left.twenty-five
      %ul
        - list[s / 2 + 1..s * 3 / 4].each do |i|
          %li
            = i
  - if s > 16
    .right.twenty-five
      %ul
        - list[s * 3 / 4 + 1..s - 1].each do |i|
          %li
            = i
