- if list && !list.empty?
  - s = list.size
  .left.twenty-five
    %ul
      - list[0..s / 4].each do |i|
        %li
          = i
  .left.twenty-five
    %ul
      - list[s / 4 + 1..s / 2].each do |i|
        %li
          = i
  .left.twenty-five
    %ul
      - list[s / 2 + 1..s * 3 / 4].each do |i|
        %li
          = i
  .right.twenty-five
    %ul
      - list[s * 3 / 4 + 1..s - 1].each do |i|
        %li
          = i
