.info-box.info-box--blue
  .info-box__title= title
  .info-box__content--circle
    .grad-rate
      = rate
      .percent %
    .circle-text School
    -#.circle-text= rate_strength
  .text
    #{detroit_rate}% Detroit
  .text
    #{state_rate}% State
