- if list.present?
  .section.clear-floats
    .columns.one
      .column
        .info-box
          .info-box__title= label
          .info-box__content
            = render 'four_col_field_list',
              list: list
