- cache(schools_cache_key) do
  .schools-wrapper
    .schools-map-wrapper
      #map

    .results
      .school-list
        - if @schools.empty?
          %h3 There are no schools that fit your selection(s) right now.
        - @schools.each do |s|
          = render 'item', { :school => s }

  %a.do-compare.btn.hide{:href => '/'} Compare Selected Schools

  :javascript
    var ajax = false;
    var listSpinner = null;
    var searching = false;
    var schoolIds = #{(@school_ids || []).split(",").to_json};

    $(function(e) {
      var map = Map({
        center: [42.36, -83.09],
        markers: #{@schools.map(&:marker).to_json},
        zoom: 11
      });

      $('.school-list .school').mouseover(function(e) {
        var tid = $(this).data('tid');
        for(var i in map.layers) {
          if(tid == map.layers[i].options.id) {
            map.layers[i].openPopup();
          }
        }
        return true;
      });

      $('.rounded-square.small .grade').each(function(i, n) {
        var grade = $(n);
        if (grade.text().trim() == 'NEW') {
          grade.css('font-size', '19px').
            css('padding-top', '13px');
        }
      });

      $(schoolIds).each(function(i, id) {
        $('#' + id).attr('checked', 'checked');
      });

      var selectedSchools = function() {
        return $('input.compare-check:checked');
      };

      var compareCount = function() {
        var count = selectedSchools().length;
        if(count > 0) {
          $('a.do-compare').removeClass('hide');
          if (count > 4) {
            $(e.currentTarget).attr('checked', false);
          }
        } else {
          $('a.do-compare').addClass('hide');
        }
      };

      $('body').on('change', 'input.compare-check', function(e) {
        compareCount();
        return true;
      });

      compareCount();

      $('a.do-compare').click(function(e) {
        ids = [];
        $('input.compare-check:checked').each(function(idx, el) {
          ids.push($(el).val());
        });
        var schoolIdParams = "school_ids=" + ids.join(',');
        var lastSearch;
        if (location.href.match(/&school_ids/)) {
          lastSearch = location.href.replace(
            /school_ids.*/,
            "school_ids=" + ids.join(',')
          );
        } else {
          lastSearch = location.href + "&" + schoolIdParams
        }
        localStorage.setItem('lastSearch', lastSearch);
        window.location = "/compare?" + schoolIdParams;
        return false;
      });
    });

