#outer_wrapper
  #lefty
    - if false
      %p.count
    = render :partial => 'shared/filters'
    .clear_floats
    %br/
    
    %ul.school_list
      - @schools.each do |s|
        = render 'item', { :school => s }

    %a.do-compare.btn.hide{:href => '#'} Compare Selected Schools

  = render 'shared/map', :map => @map

:erb
  <script id='list-template' type='text/html'>
  {{#features}}{{#properties}}
    <li class='school'>
      <img src='/{{seal}}' class='mini-el-icon'/>
      <h3><a href='/schools/{{slug}}'>{{name}}</a></h3>
      {{#grades_served}}<div>Grades {{grades_served}}</div>{{/grades_served}}
      <label><input class='compare-check' name='compare[]' type='checkbox' value='{{id}}'/> Compare</label>
    </li>
  {{/properties}}{{/features}}";
  </script>


:javascript
  var listSpinner = null;
  var searching = false;
  var charFilters = #{@cq.to_json};
  
  $(document).ready(function(e) {
    $('.l-footer-wrapper').hide();
    
    $('body').on('change', 'input.compare-check', function(e) {
      var count = $('input.compare-check:checked').length;
      if(count > 0) {
        $('a.do-compare').removeClass('hide');
      } else {
        $('a.do-compare').addClass('hide');
      }
      return true;
    });
    
    $('.school_list .school').mouseover(function(e) {
      var bcode = $(this).data('bcode');
      for(var i in map.overlays.schools._layers) {
        var layer = map.overlays.schools._layers[i];
        var feature = layer.feature;
        if(bcode == feature.properties.bcode) {
          layer.openPopup();
        }
      }
      return true;
    });
    
    $('a.do-compare').click(function(e) {
      ids = [];
      $('input.compare-check:checked').each(function(idx, el) {
        ids.push($(el).val());
      });
      window.location = "/compare/+" + ids.join(',');
      return false;
    });
    
    $('form.form-search').submit(function(e) {
      // Get ajax for da new search and update list
      if(searching) {
        return false;
      }
      searching = true;
      var data = {
        filter: $('#filter', this).val(),
        type: $('#type', this).val(),
        loc: $('#loc', this).val(), 
        complex: charFilters
      };
      if(!listSpinner) {
        listSpinner = new Spinner({zIndex: 4000});
      }
      listSpinner.spin($('#lefty').get(0));

      $.ajax({
        async: true,
        type: 'GET',
        url: '/schools.json',
        data: data,
        cache: false,
        success: function(response) {
          if(false) {
            map.map.removeLayer(map.overlays.schools);
            map.overlays.schools = map.addLayer(Paraffin.GEOJSON, { object: response });
              //options: { style: { color: '#909', opacity: 1, weight: 3, fillOpacity: 0, fillColor: 'none' } } });
          } else {
            for(var i in map.overlays.schools._layers) {
              var dot = map.overlays.schools._layers[i];
              map.overlays.schools.removeLayer(dot);
            }
            map.overlays.schools.addData(response);
          }
          var template = $('script#list-template').html();
          var html = Mustache.to_html(template, response);
          $('.school_list').html(html);
          listSpinner.stop();
          searching = false;
        },
        error: function(response) { }
      });
         
      return false;
    });
  });