- cache(schools_cache_key) do
  .schools-wrapper
    .schools-map-wrapper
      #map

    .results
      .school-list
        - if @schools.empty?
          %h3 There are no schools that fit your selection(s) right now.
        - @schools.each do |s|
          = render 'item', { :school => s }

  :javascript
    var ajax = false;
    var listSpinner = null;
    var searching = false;

    $(function(e) {
      var map = Map({
        center: [42.36, -83.09],
        markers: #{@schools.map(&:marker).to_json},
        zoom: 11
      });

      $('.school-list .school').mouseover(function(e) {
        var tid = $(this).data('tid');
        for(var i in map.layers) {
          if(tid == map.layers[i].options.id) {
            map.layers[i].openPopup();
          }
        }
        return true;
      });

      $('.rounded-square.small .grade').each(function(i, n) {
        var grade = $(n);
        if (grade.text().trim() == 'NEW') {
          grade.css('font-size', '19px').
            css('padding-top', '13px');
        }
      });

      $('body').on('change', 'input.compare-check', function(e) {
        var count = $('input.compare-check:checked').length;
        if (count > 4) {
          $(e.currentTarget).attr('checked', false);
        }
        if(count > 0) {
          $('a.do-compare').removeClass('hide');
        } else {
          $('a.do-compare').addClass('hide');
        }
        return true;
      });

      $('a.do-compare').click(function(e) {
        ids = [];
        $('input.compare-check:checked').each(function(idx, el) {
          ids.push($(el).val());
        });
        window.location = "/compare/?school_ids=" + ids.join(',');
        return false;
      });
    });

  %a.do-compare.btn.hide{:href => '#'} Compare Selected Schools
