/= render 'shared/map', :map => @map

.results
  %ul.school_list
    - if @schools.empty?
      %h3 There are no schools that fit your selection(s) right now.
    - @schools.each do |s|
      = render 'item', { :school => s }

  %a.do-compare.btn.hide{:href => '#'} Compare Selected Schools

:erb
  <script id='list-template' type='text/html'>
  {{#features}}{{#properties}}
    <li class='school'>
      <img src='/images/{{seal}}' class='mini-el-icon'/>
      <h3><a href='/schools/{{slug}}'>{{name}}</a></h3>
      {{#grades_served}}<div>Grades {{grades_served}}</div>{{/grades_served}}
      <label><input class='compare-check' name='compare[]' type='checkbox' value='{{id}}'/> Compare</label>
    </li>
  {{/properties}}{{/features}}";
  </script>


:javascript
  var ajax = false;
  var listSpinner = null;
  var searching = false;

  $(document).ready(function(e) {
    $('body').on('change', 'input.compare-check', function(e) {
      var count = $('input.compare-check:checked').length;
      if(count > 0) {
        $('a.do-compare').removeClass('hide');
      } else {
        $('a.do-compare').addClass('hide');
      }
      return true;
    });

    $('.school_list .school').mouseover(function(e) {
      var bcode = $(this).data('bcode');
      for(var i in map.overlays.schools._layers) {
        var layer = map.overlays.schools._layers[i];
        var feature = layer.feature;
        if(bcode == feature.properties.bcode) {
          layer.openPopup();
        }
      }
      return true;
    });

    $('a.do-compare').click(function(e) {
      ids = [];
      $('input.compare-check:checked').each(function(idx, el) {
        ids.push($(el).val());
      });
      window.location = "/compare/+" + ids.join(',');
      return false;
    });
  });
