.container_12
  .grid_12
    %br/
    %h1= @title
    
    %br/
    = render :partial => 'shared/filters'    
    .clear_floats
    %br/
    
    
.container_12
  - @schools.each_slice(@schools.size / 3 + 3) do |col|
    .grid_4
      - col.each do |s|
        = link_to s.name, school_path(s.slug)
        %br/    

.clear_floats
%br/
%br/