#outer_wrapper
  #lefty
    %h1= @title

    %p.count
    = render :partial => 'shared/filters'
    .clear_floats
    %br/
    
    %ul.school_list
      - @schools.each do |s|
        = render 'item', { :school => s }


  = render 'shared/map', :object => @map


:javascript
  $(document).ready(function(e) {
    $('.l-footer-wrapper').hide();
    
    $('form.search').submit(function(e) {
      // Get ajax for da new search and update list
      var data = {
        filter: $('#filter', this).val(),
        type: $('#type', this).val(),
        loc: $('#loc', this).val()
      };
      $.ajax({
        async: true,
        type: 'GET',
        url: '/schools.json',
        data: data,
        cache: false,
        success: function(response) {
          //ownerLayer = map.addLayer(Paraffin.GEOJSON, { object: data,
          //  options: { style: { color: '#909', opacity: 1, weight: 3, fillOpacity: 0, fillColor: 'none' } } });
          var template = "{{#features}}{{#properties}}<li><a href='/schools/{{slug}}'>{{name}}</a><br/>{{address}}<br/>{{grades_served}}</li>{{/properties}}{{/features}}";
          var html = Mustache.to_html(template, response);
          $('.list').html(html);
        },
        error: function(response) { }
      });
         
      return false;
    });
  });