.school-banner {
  min-height: 465px;
  background: url(school_banner_bg) no-repeat;
  background-size: cover;
}

.school-banner .overview {
  width: 80%;
  margin: 0 auto;
  padding-top: 3%;
}

.school-banner .overview a,
.school-banner .overview a:visited,
.school-banner .overview a:active,
.school-banner .overview a:hover,
.school-banner .overview a.external,
.school-banner .overview a.external:visited {
  color: white;
}

.school-banner .overview .section {
  padding: 7px 0;
}

.school-banner .overview .section .columns {
  width: auto;
  margin-bottom: 0;
}

.school-banner .overview .section .columns .column {
  width: 170px;
}

.school-banner .school-image,
.school-banner .school-name,
.school-banner .school-type,
.school-banner .grades-served,
.school-banner .overall-performance,
.school-banner .contact-info,
.school-banner .website-info,
.school-banner .hours,
.school-banner .general-info {
  text-align: center;
  width: auto;
  margin: 0 auto;
  color: white;
}

.school-banner .school-type {
  margin-top: 10px;
}

.school-banner .school-image {
  overflow: hidden;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: 4px white solid;
  background-position: center center;
  background-size: cover;
}

.school-banner .school-name h1 {
  color: white;
  font-family: 'Aleo Regular';
  font-size: 43px;
  letter-spacing: 2px;
  line-height: 43px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.school-banner .overall-performance {
  margin: 5px 0;
}

.school-banner .more-rankings {
  margin-top: 15px;
}

.school-banner .ranking-link {
  display: inline-block;
  margin-right: 10px;
  color: white;
}

.school-banner .ranking-link:first-child {
  margin-left: 10px;
}

.school-banner .contact-info { margin-top: 15px; }

.school-banner .contact-info .info,
.school-banner .website-info .info {
  display: inline-block;
  margin: 0 20px;
}

.school-banner .website-info {
  line-height: 25px;
  margin-top: 15px;
}

.school-banner .general-info {
  line-height: 30px;
  height: 60px;
  margin-top: 10px;
}

.school-banner .hover-state {
  position: absolute;
  min-width: 200px;
  min-height: 100px;
  bottom: 35px;
  right: -350%;
  background-color: white;
  border: 2px solid $grey;
  padding: 20px 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  .text.title {
    font-size: 18px;
    color: $navy;
  }
  .text {
    color: $grey-1;
  }
}

//.school-banner .hover-state:before {
//  position: absolute;
//  margin-top: 39px;
//  content: "";
//  width: 0;
//  height: 0;
//  border-left: 25px solid transparent;
//  border-right: 25px solid transparent;
//  border-top: 25px solid $grey;
//}

.banner-icon {
  position: relative;
  margin: 0 8px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  width: 25px;
}

.school-banner .grades-served {
  margin: 15px 0;
  span {
    font-family: 'Lato Bold';
    font-size: 25px;
    margin-left: 10px;
  }
}

.recommended-school,
.columns .column.recommended-school:nth-of-type(2) {
  margin: 0;
  img {
    height: 130px;
    vertical-align: middle;
  }
}
