$gainsboro: #dedede;
$paynes_grey: #404040;
$onyx: #141414;
$dim_grey: #636466;
$green: #7cc45c;
$cyan: #2b9fc7;
$light_cyan: #e3f2f8;
$light_yellow: #fef5e2;
$yellow: #f8ae16;
$navy: #4c6c9d;
$red: #c73458;

$grey: #cdcdcb;

$fivee_green: #319400;
$fivee_light_green: #a2c100;
$fivee_yellow: #ffc700;
$fivee_orange: #ff690f;
$fivee_red: #c32947;

$rank_red: #ca0000;
$rank_orange: #fc6900;
$rank_yellow: #fdca25;
$rank_green: #a2c100;
$rank_light_green: #35d02e;

$blue: #399fcc;
$light-grey: #f1f8fa;

.green { color: $green; }
.green-background { background-color: $green; }
.light-cyan { color: $light_cyan; }
.light-cyan-background { background-color: $light_cyan; }
.navy { color: $navy }
