$gainsboro: #dedede;
$paynes_grey: #404040;
$onyx: #141414;
$dim_grey: #636466;
$green: #7cc45c;
$cyan: #2b9fc7;
$light_cyan: #e3f2f8;
$light_yellow: #fef5e2;
$yellow: #f8ae16;
$navy: #2e5b8c;
$red: #c73458;

$fivee_green: #319400;
$fivee_light_green: #a2c100;
$fivee_yellow: #ffc700;
$fivee_orange: #ff690f;
$fivee_red: #c32947;

.green { color: $green; }
.green-background { background-color: $green; }
.light-cyan { color: $light_cyan; }
.light-cyan-background { background-color: $light_cyan; }
.navy { color: $navy }
