@import 'colors';

.compare {
  width: 100%;
  display: inline-block;
  margin: 20px 0 20px 0;
}

.top {
  display: inline-block;
  width: 100%;
  background-color: white;
}

.scroll {
  float: right;
  margin-right: 10px;
  width: 70px;
  text-align: right;
  font-size: 21px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.scroll:nth-of-type(1) span { float: left; }
.scroll:nth-of-type(2) span { float: right; }
.scroll .left,
.scroll .right { display: none; }
.left-arrow-icon:before {
  font-size: 31px;
  content: "\003C";
}
.right-arrow-icon:before {
  font-size: 31px;
  content: "\003E";
}

.top {
  width: 100%;
  margin: 0;
}
.top > .nav {
  width: 100%;
  display: inline-block;
  .btn { display: inline-block; }
  .btn:hover { color: white; }
  padding: 15px 0;
}
.top .nav .middle { margin-bottom: 0; }
.top .nav .middle .name {
}
.top .nav .middle .name h2 { margin: 10px 0 0 0; }
.top .nav a { display: inline-block; }
.top #map {
  width: 100%;
  height: 250px;
  border: 2px solid $gainsboro;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.nameStick {
  position: fixed;
  z-index: 10000;
  top: 60px;
  width: 10%;
  background-color: white;
}

.compare .school {
  display: inline-block;
  float: left;
  width: 24.2%;
  min-width: 247px;
  margin-right: 0.95%;
  padding: 0 10px 20px 10px;
  min-height: 400px;
  border: 2px solid $gainsboro;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.compare .school:nth-of-type(4) {
  margin-right: 0;
}

.compare .school .group {
  display: inline-block;
  width: 100%;
}

.compare .school .group {
  display: inline-block;
  h3 {
    margin: 7px 0 7px 0;
    color: $navy;
  }
}

.compare .school .group .line {
  display: inline-block;
  width: 100%;
  padding: 1px 0 1px 0;
}

.compare .school .group .line.list {
  height: 185px;
}

.compare .school .group .line .name {
  height: 60px;
}

.compare .school .group .line .float-right {
  font-family: 'Aleo Bold';
}

.compare-icon {
  display: inline-block;
  width: 55px;
  height: 40px;
  background: url(/assets/compare-icon-text.png);
  background-repeat: no-repeat;
  background-position: 9px 0px;
  background-size: 76%;
}

input.checkbox-icon[type="checkbox"] {
  display: none;
}

input.checkbox-icon[type="checkbox"] + label {
  cursor: pointer;
  margin-bottom: 10px;
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid grey;
  background-color: white;
}

input.checkbox-icon[type="checkbox"]:checked + label {
  cursor: pointer;
  display: inline-block;
  background-color: $green;
}

//input.checkbox-icon[type="checkbox"]:checked:before + label {
//  content: "\2714\0020";
//  color: white;
//  font-size: 14px;
//  padding-left: 3px;
//}
