.stat-region .content.two.fivee,
.compare .fivee {
  & > .visual {
    width: 48%;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  & > .visual > .title,
  & > .visual .graph {
    font-family: 'Aleo Bold';
  }
  & > .visual > .wrapper {
    float: left;
    width: auto;
    display: inline-block;
  }
  & > .visual .graph {
    clear: right;
    height: auto;
    font-family: 'Lato Black';
    color: white;
    & > .text {
      padding: 10px 0 ;
    }
  }
  & > .visual:nth-of-type(2) {
    margin-left: 30px;
    float: left;
    width: 48%;
    & .graph {
      float: left;
      position: relative;
      width: 190px;
      height: 190px;
      background-color: white;
    }
  }
}

.compare .fivee {
  margin-top: 5px;
}
.compare .fivee,
.compare .fivee .visual,
.compare .fivee .visual:nth-of-type(2) {
  display: inline-block;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
.compare .fivee .visual .title,
.compare .fivee .visual .graph {
  width: 100%;
  text-align: center;
}
.compare .fivee .visual .square {
  float: left;
  margin-left: 20px;
  margin-top: 15px;
}
.compare .fivee .visual .square .text {
  margin-left: 20px;
}
.compare .fivee > .visual:nth-of-type(2) .graph {
  margin-left: 18px;
}

.fivee .info-box__content {
  line-height: 170px;
  padding: 0 20px;
}

.fivee-rating-text {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 45px;
}

.bottom-text {
  line-height: 20px;
  padding-bottom: 30px;
}

.square {
  line-height: 20px;
  width: 18px;
  height: 18px;
  background-color: grey;
  display: inline-block;
  vertical-align: middle;
}

.fivee-graph {
  vertical-align: top;
  position: relative;
  display: inline-block;
  min-height: 273px;
  width: 285px;
}

.fivee-graph .row {
  float: left;
  width: 100%;
  height: 130px;
  margin-bottom: 3px;
}

.fivee-graph .box {
  display: inline-block;
  width: 140px;
  height: 130px;
}

.fivee-graph .circle .outer {
  position: absolute;
  top: 71px;
  left: 82px;
  background-color: white;
  width: 120px;
  height: 120px;
  z-index: 1000;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}

.fivee-graph .circle .inner {
  padding-top: 25px;
  font-family: 'Lato Bold';
  font-size: 14px;
  line-height: 56px;
  position: absolute;
  top: 76px;
  left: 87px;
  z-index: 2000;
  background-color: grey;
  width: 110px;
  height: 110px;
  -moz-border-radius: 55px;
  -webkit-border-radius: 55px;
  border-radius: 55px;
}

.fivee-graph .circle .inner .text {
  display: inline-block;
  vertical-align: middle;
}

.fivee-graph .fivee-category {
  position: relative;
  padding: 10px;
}

.fivee-graph .fivee-category .text {
  font-size: 17px;
  line-height: 17px;
  color: white;
  width: 120px;
}

.fivee-category .text.left {
  text-align: left;
}

.fivee-category .text.right {
  text-align: right;
}

.fivee-category .text.bottom {
  position: absolute;
  bottom: 10px;
}

.fivee .visual .legend {
  display: inline-block;
  vertical-align: top;
  width: 120px;
  font-family: 'Lato Regular';
  font-size: 13px;
  text-align: left;
  .green { background-color: $fivee_green; }
  .light-green { background-color: $fivee_light_green; }
  .yellow { background-color: $fivee_yellow; }
  .orange { background-color: $fivee_orange; }
  .red { background-color: $fivee_red; }
}

.fivee .visual .legend .key {
  height: 50px;
  width: 100%;
  display: inline-block;
}

.fivee .visual .legend .key .box {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.fivee .visual .legend .key .label {
  display: inline-block;
  width: 47%;
}

.fivee .section .link {
  margin-top: 10px;
  font-family: 'Lato Bold';
  font-size: 15px;
}
