.stat-region .content.two.fivee,
.compare .fivee {
  & > .visual {
    width: 48%;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  & > .visual > .title,
  & > .visual .graph {
    font-family: 'Aleo Bold';
  }
  & > .visual > .wrapper {
    float: left;
    width: auto;
    display: inline-block;
  }
  & > .visual .graph {
    clear: right;
    height: auto;
    font-family: 'Lato Black';
    color: white;
    & > .text {
      padding: 10px 0 ;
    }
  }
  & > .visual:nth-of-type(2) {
    margin-left: 30px;
    float: left;
    width: 48%;
    & .graph {
      float: left;
      position: relative;
      width: 190px;
      height: 190px;
      background-color: white;
    }
    .top-left, .top-right,
    .bottom-left, .bottom-right {
      font-family: 'Lato Bold';
      font-size: 14px;
      position: absolute;
      background-color: grey;
      width: 92.5px;
      height: 92.5px;
    }
    .top-left, .top-right {
      padding-top: 9px;
      top: 0;
    }
    .top-left, .bottom-left {
      text-align: left;
      padding-left: 8px;
      left: 0;
    }
    .top-right, .bottom-right {
      text-align: right;
      padding-right: 8px;
      right: 0;
    }
    .bottom-left, .bottom-right {
      padding-top: 50px;
      bottom: 0;
    }
    .top-left {
      -moz-border-radius: 0 0 -50px 0;
      -webkit-border-radius: 0 0 -50px 0;
      border-radius: 0 0 -50px 0;
    }
    .circle {
      .outer {
        position: absolute;
        top: 45px;
        left: 45px;
        background-color: white;
        width: 100px;
        height: 100px;
        z-index: 1000;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
      }
      .inner {
        padding-top: 25px;
        font-family: 'Lato Bold';
        font-size: 14px;
        position: absolute;
        top: 50px;
        left: 50px;
        z-index: 2000;
        background-color: grey;
        width: 90px;
        height: 90px;
        -moz-border-radius: 45px;
        -webkit-border-radius: 45px;
        border-radius: 45px;
      }
    }
    .legend {
      float: left;
      margin-left: 10px;
      font-family: 'Lato Regular';
      font-size: 13px;
      width: 50px;
      text-align: left;
      & > .key {
        margin: 2px 0;
        width: 20px;
        height: 20px;
      }
      & > .key:nth-of-type(1),
      & > .key:nth-of-type(7) { margin-bottom: 15px; }
      .green { background-color: $fivee_green; }
      .light-green { background-color: $fivee_light_green; }
      .yellow { background-color: $fivee_yellow; }
      .orange { background-color: $fivee_orange; }
      .red { background-color: $fivee_red; }
    }
    .link {
      width: 110px;
      margin-top: 4px;
      font-family: 'Lato Bold';
      font-size: 13px;
    }
  }
}

.compare .fivee {
  margin-top: 5px;
}
.compare .fivee,
.compare .fivee .visual,
.compare .fivee .visual:nth-of-type(2) {
  display: inline-block;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
.compare .fivee .visual .title,
.compare .fivee .visual .graph {
  width: 100%;
  text-align: center;
}
.compare .fivee .visual .square {
  float: left;
  margin-left: 20px;
  margin-top: 15px;
}
.compare .fivee .visual .square .text {
  margin-left: 20px;
}
.compare .fivee > .visual:nth-of-type(2) .graph {
  margin-left: 18px;
}
.compare .fivee .visual:nth-of-type(2) .wrapper {
  width: 100%;
}
.compare .fivee .visual:nth-of-type(2) .wrapper .legend {
  margin-top: 10px;
  margin-left: 0px;
  width: 220px;
}
.compare .fivee .visual:nth-of-type(2) .wrapper .legend .key {
  margin-left: 5px;
  float: right;
}
.compare .fivee .visual:nth-of-type(2) .wrapper .legend .key:nth-of-type(1) {
  margin-right: 25px;
  margin-left: 8px;
}
.compare .fivee .visual:nth-of-type(2) .wrapper .legend .key:nth-of-type(7) {
  margin-right: 15px;
}
.compare .fivee .visual:nth-of-type(2) .wrapper .legend .link {
  display: none;
}

.fivee .info-box__content {
  line-height: 180px;
}

.fivee-rating-text {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 50px;
}

.bottom-text {
  line-height: 20px;
  padding-bottom: 30px;
}

.square {
  line-height: 20px;
  width: 18px;
  height: 18px;
  background-color: grey;
  display: inline-block;
  vertical-align: middle;
}
