@font-face {
  font-family: "Aleo Bold";
  src: url("aleo-bold-webfont.eot");
  src: local("☺"),
    url("aleo-bold-webfont.woff") format("woff"),
    url("aleo-bold-webfont.woff2") format("woff2"),
    url("aleo-bold-webfont.otf") format("opentype"),
    url("aleo-bold-webfont.ttf") format("truetype"),
    url("aleo-bold-webfont.svg#filename") format("svg");
}

@font-face {
  font-family: "Aleo Regular";
  src: url("aleo-regular-webfont.eot");
  src: local("☺"),
    url("aleo-regular-webfont.woff") format("woff"),
    url("aleo-regular-webfont.woff2") format("woff2"),
    url("aleo-regular-webfont.otf") format("opentype"),
    url("aleo-regular-webfont.ttf") format("truetype"),
    url("aleo-regular-webfont.svg#filename") format("svg");
}

@font-face {
  font-family: "Lato Regular";
  src: url("Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato Italic";
  src: url("Lato-Italic.ttf");
}

@font-face {
  font-family: "Lato Light";
  src: url("Lato-Light.ttf");
}

@font-face {
  font-family: "Lato Bold";
  src: url("Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato Black";
  src: url("Lato-Black.ttf");
}
