@import 'colors';

.email-icon {
  width: 20px;
  height: 15px;
  float: left;
  margin-right: 4px;
  background-image: url(school_icons.png);
  background-repeat: no-repeat;
  background-position: -8px 1px;
}

.phone-icon {
  float: left;
  width: 16px;
  height: 18px;
  margin-top: -2px;
  margin-right: 5px;
  background-image: url(school_icons.png);
  background-repeat: no-repeat;
  background-position: -9px -21px;
}

.website-icon {
  float: left;
  width: 16px;
  height: 18px;
  margin-top: -2px;
  margin-right: 5px;
  background-image: url(school_icons.png);
  background-repeat: no-repeat;
  background-position: -9px -45px;
}

.address-icon {
  float: left;
  width: 16px;
  height: 20px;
  margin-top: -1px;
  margin-right: 5px;
  background-image: url(school_icons.png);
  background-repeat: no-repeat;
  background-position: -9px -284px;
}

.star-icon {
  float: left;
  width: 25px;
  height: 23px;
  margin-right: 5px;
  background-image: url(school_icons.png);
  background-repeat: no-repeat;
  background-position: -6px -92px;
}

.classes-icon {
  float: left;
  width: 25px;
  height: 23px;
  margin-right: 5px;
  background-image: url(school_icons.png);
  background-repeat: no-repeat;
  background-position: -6px -119px;
}

.support-icon {
  float: left;
  width: 25px;
  height: 23px;
  margin-right: 5px;
  background-image: url(school_icons.png);
  background-repeat: no-repeat;
  background-position: -6px -145px;
}

.facilities-icon {
  float: left;
  width: 25px;
  height: 23px;
  margin-right: 5px;
  background-image: url(school_icons.png);
  background-repeat: no-repeat;
  background-position: -6px -173px;
}

.sports-icon {
  float: left;
  width: 25px;
  height: 23px;
  margin-right: 5px;
  background-image: url(school_icons.png);
  background-repeat: no-repeat;
  background-position: -6px -202px;
}

.clubs-icon {
  float: left;
  width: 35px;
  height: 23px;
  margin-right: 5px;
  background-image: url(school_icons.png);
  background-repeat: no-repeat;
  background-position: -1px -232px;
}

.link-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(link.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.back-arrow-icon {
  float: left;
  height: 18px;
  width: 23px;
  margin: 13px 15px 0 0;
  background-image: url(/assets/icons/png/arrow_left.png);
  background-repeat: no-repeat;
}

.facebook-icon {
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url(/assets/icons/png/facebook.png);
  background-repeat: no-repeat;
  background-size: 101%;
}
