$light: #eef;

$dblue:   #004270;
$orange:  #f79421;
$lblue:   #85d5e3;
$yellow:  #ffcc4e;
$lgreen:  #8dc63f;
$red:     #953734;
$greyish: #556677;


body { background: #fff; }
#nav { display: none; }
#wrapper { width: 300px; }
.noprint { display: none !important; }
.printonly { display: block; }

.float_right { float: right; }
.float_left { float: left; }
.clear_floats { clear: both; }
.justify { text-align: justify; }
.centered { text-align: center; }
.hide { display: none; }
.inline { display: inline-block; }
.rounded { padding: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.ib { display: inline-block; float: none; }
.subtle { color: $dblue; }

h1, h2, h3, h4, .grade { color: black !important; }

.leaflet-control-zoom,
i.help,
#usabilla_live_button_container,
.jqplot-table-legend,
.block--boxes-did-you-know ul.nav,
ul.nav { display: none; }

.tab-content { border: none; }
.tab-content > .tab-pane { display: block; margin-bottom: 1em; }
.tab-content:last-child { margin-bottom: 0; }

.profile .lead { margin-bottom: 1em; }
.elements_wrapper .element_label { min-height: 1em; padding-top: 0; }

.summary {
  .grades_container, .grades_container .grade, .grade.sub, .blue, .blue h3 { background-color: transparent; border: 1px solid #888; color: black; }
  .grade.sub a { color: black; }
}
.block .grade_container .grade { background-color: transparent; border: 1px solid #888; }
#block-boxes-did-you-know-es h2, #block-boxes-did-you-know h2 { background-color: transparent; }

.color1 { background-color: #e94739; }
.color2 { background-color: #f25f3c; }
.color3 { background-color: #ffd78a; }
.color4 { background-color: #aed485; }
.color5 { background-color: #8cc657; }


