.container_12 { width: 100%; }

@media only screen and (max-width: 1175px) {
  .middle { width: 85%; }
}

@media only screen and (max-width: 1105px) {
  .middle { width: 90%; }
  .home.middle { width: 80%; }
}

@media only screen and (max-width: 1045px) {
  .middle { width: 95%; }
}
