.scatter-plot {
  display: inline-block;
  width: 100%;
}

.scatter-plot-nav .subject {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-left: -3px;
  width: 25%;
  border: 4px solid $grey;
  padding: 12px;
  text-align: center;
  font-size: 21px;
  background-color: $background-grey;
  cursor: pointer;
}

.scatter-plot-nav a.subject,
.scatter-plot-nav a.subject:visited,
.scatter-plot-nav a.subject:active,
.scatter-plot-nav a.subject:hover,
.scatter-plot-nav a.subject.external,
.scatter-plot-nav a.subject.external:visited {
  color: black;
}

.scatter-plot-nav .subject:nth-child(2),
.scatter-plot-nav .subject:nth-child(3),
.scatter-plot-nav .subject:nth-child(4) {
  border-left: 0;
}

.scatter-plot-nav .subject.active {
  background-color: white;
}

.scatter-plot-nav .subject.active:before {
  position: absolute;
  margin-top: 39px;
  content: "";
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid $grey;
}

.scatter-plot-graph {
  position: relative;
  display: inline-block;
  height: 400px;
  width: 100%;
  border: 4px solid $grey;
  margin-top: 25px;
}

.scatter-plot-graph .label {
  position: absolute;
  font-size: 21px;
  font-family: 'Aleo Bold';
  z-index: 100;
  width: 43%;
}

.scatter-plot-graph .label.top-left { color: $rank_orange; }

.scatter-plot-graph .label.top-right { color: $rank_light_green; }

.scatter-plot-graph .label.bottom-left { color: $rank_red; }

.scatter-plot-graph .label.bottom-right { color: $rank_yellow; }

.scatter-plot-graph .label.top-left,
.scatter-plot-graph .label.top-right {
  top: 20%;
}

.scatter-plot-graph .label.bottom-left,
.scatter-plot-graph .label.bottom-right {
  bottom: 20%;
}

.scatter-plot-graph .label.top-left,
.scatter-plot-graph .label.bottom-left {
  left: 3%;
}

.scatter-plot-graph .label.top-right,
.scatter-plot-graph .label.bottom-right {
  right: 3%;
}

.scatter-plot-graph .axis {
  position: absolute;
  border: 2px solid $grey;
}

.scatter-plot-graph .axis.x {
  height: 0px;
  width: 100%;
  top: 50%;
}

.scatter-plot-graph .axis.y {
  left: 50%;
  height: 100%;
  width: 0px;
}

.scatter-plot-graph .axis-legend {
  position: absolute;
  background-color: white;
  border: 4px solid $grey;
  width: 140px;
}

.scatter-plot-graph .axis-legend.proficiency {
  padding-top: 5px;
  height: 52px;
  left: -44px;
  top: 42%;
  border-top: 0;
  /* FF3.5+ */
  -moz-transform: rotate(-90.0deg);
  /* Opera 10.5 */
  -o-transform: rotate(-90.0deg);
  /* Saf3.1+, Chrome */
  -webkit-transform: rotate(-90.0deg);
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
  /* Standard */
  transform: rotate(-90.0deg);
}

.scatter-plot-graph .axis-legend.growth {
  bottom: 0;
  left: 44%;
  height: 46px;
  border-bottom: 0;
}

.scatter-plot-graph .axis-legend .title {
}

.scatter-plot-graph .axis-legend .sub-title {
}

.scatter-plot-graph .graph-point {
  position: absolute;
  border: 2px solid $grey;
}

.scatter-plot-graph .graph-point.school {
  background-color: $graph-point-blue;
  width: 40px;
  height: 40px;
  -moz-border-radius: 20px;
  -webkitborder-radius: 20px;
  border-radius: 20px;
  z-index: 100;
}

.scatter-plot-graph .graph-point.school.other {
  border: 1px solid #999;
  background-color: $grey;
  width: 20px;
  height: 20px;
  -moz-border-radius: 10px;
  -webkitborder-radius: 10px;
  border-radius: 10px;
  z-index: 99;
}

.scatter-plot-graph .graph-point.detroit {
  background-color: black;
  width: 20px;
  height: 20px;
  -moz-border-radius: 10px;
  -webkitborder-radius: 10px;
  border-radius: 10px;
  z-index: 100;
}

.scatter-plot-graph .point-popup {
  background-color: white;
  margin-right: 50%;
  width: 280px;
  border: 3px solid $grey;
  z-index: 102;
}

.scatter-plot-graph .point-popup .row {
  position: relative;
  width: 100%;
  min-height: 50px;
  padding: 15px;
  border-bottom: 3px solid $grey;
  font-family: 'Aleo Bold';
}

.scatter-plot-graph .point-popup .row.no-padding {
  padding: 0;
}

.scatter-plot-graph .point-popup .row:last-child {
  border-bottom: 0;
}

.scatter-plot-graph .point-popup .row.detroit-prof {
  line-height: 27px;
}

.scatter-plot-graph .point-popup .row.detroit-growth {
  height: 70px;
  line-height: 37px;
}

.scatter-plot-graph .point-popup .row.detroit-growth .text-left {
  float: left;
  width: 25%;
  text-align: center;
}
.scatter-plot-graph .point-popup .row.detroit-growth .text-right {
  float: right;
  width: 74%;
  line-height: 19px;
}

.scatter-plot-graph .point-popup .row.detroit-prof span,
.scatter-plot-graph .point-popup .row.detroit-growth span {
  vertical-align: middle;
}

.scatter-plot-graph .point-popup .name {
  font-size: 17px;
}

.scatter-plot-graph .point-popup .subject {
  color: $navy;
}

.scatter-plot-graph .point-popup .left,
.scatter-plot-graph .point-popup .right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
//  padding: 10px;
}

.scatter-plot-graph .point-popup .left {
  left: 0;
  border-right: 2px solid $grey;
}

.scatter-plot-graph .point-popup .big {
  font-size: 40px;
}

.scatter-plot-graph .point-popup .row .growth {
  font-size: 42px;
}

.scatter-plot-graph .point-popup .row .growth-desc {
  padding: 10px;
  font-size: 13px;
}

.scatter-plot-graph .point-popup .right {
  right: 0;
  text-align: left;
}

.scatter-plot-graph .point-popup .right .state,
.scatter-plot-graph .point-popup .right .detroit {
  height: 50%;
  line-height: 22px;
  padding: 5px;
}
.scatter-plot-graph .point-popup .right .state {
  border-bottom: 1px solid $grey;
}

.scatter-plot-graph .point-popup .right span {
  font-size: 15px;
  color: $grey;
  vertical-align: middle;
}

.scatter-plot-graph .point-popup .right span.medium {
  font-size: 27px;
  color: $navy;
}

.scatter-plot-graph .point-popup .row.no-padding.big {
  height: 80px;
  padding: 2px 0 0;
}

@media screen and (max-width: 790px) {
  .scatter-plot-graph .label {
    font-size: 17px;
  }
}
