.ranking-column {
  width: 20%;
}

.very-weak   { color: $rank_red; }
.weak        { color: $rank_orange; }
.average     { color: $rank_yellow; }
.strong      { color: $rank_green; }
.very-strong { color: $rank_light_green; }
.very-weak-bg   { background-color: $rank_red; }
.weak-bg        { background-color: $rank_orange; }
.average-bg     { background-color: $rank_yellow; }
.strong-bg      { background-color: $rank_green; }
.very-strong-bg { background-color: $rank_light_green; }

.suffix {
  position: absolute;
  top: -10px;
  display: inline-block;
  font-size: 35px;
}

#rankings .section { text-align: center; }

#rankings .columns {
  display: inline-block;
  width: 85%;
}

#rankings .column {
  display: inline-block;
  margin: 0 15px;
  width: 17%;
}
