.school-banner {
  min-height: 465px;
  background: url(school_banner_bg) no-repeat;
  background-size: cover;
}

.overview {
  width: 80%;
  margin: 0 auto;
  padding-top: 3%;
}

.overview a,
.overview a:visited,
.overview a:active,
.overview a:hover,
.overview a.external,
.overview a.external:visited {
  color: white;
}

.overview .section {
  padding: 7px 0;
}

.overview .section .columns {
  width: auto;
  margin-bottom: 0;
}

.overview .section .columns .column {
  width: 170px;
}

.school-image,
.school-name,
.school-type,
.overall-performance,
.contact-info,
.website-info,
.hours,
.general-info {
  text-align: center;
  width: auto;
  margin: 0 auto;
  color: white;
}

.school-image {
  overflow: hidden;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: 4px white solid;
  background-position: center center;
  background-size: cover;
}

.school-name h1 {
  color: white;
  font-family: 'Aleo Regular';
  font-size: 43px;
  letter-spacing: 2px;
  line-height: 43px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.overall-performance {
  margin: 5px 0;
}

.more-rankings {
  margin-top: 5px;
}

.ranking-link {
  display: inline-block;
  margin-right: 10px;
  color: white;
}

.ranking-link:first-child {
  margin-left: 10px;
}

.contact-info { margin-top: 15px; }

.info {
  display: inline-block;
  margin: 0 20px;
}

.website-info {
  line-height: 25px;
  margin-top: 15px;
}

.ranking-column {
  width: 20%;
}

.very-weak   { color: $rank_red; }
.weak        { color: $rank_orange; }
.average     { color: $rank_yellow; }
.strong      { color: $rank_green; }
.very-strong { color: $rank_light_green; }

.content-text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.content-text--overview {
  width: 75%;
}

.suffix {
  position: absolute;
  top: -10px;
  display: inline-block;
  font-size: 35px;
}

#rankings .section { text-align: center; }

#rankings .columns {
  display: inline-block;
  width: 80%;
}

#rankings .column {
  display: inline-block;
  margin: 0 15px;
  width: 17%;
}

