.search-results {
  position: absolute;
  top: 72px;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.search-results .schools-map-wrapper {
  float: right;
  height: 100%;
  width: 65%;
  position: relative;
  border: 2px solid $gainsboro;
}

.search-results .results {
  float: left;
  width: 35%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.search-results .compare-select {
  padding: 20px 5px;
  .do-compare.btn {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 80%;
    background-color: $fivee_orange;
    color: white;
    font-size: 21px;
  }
}

.search-results .results .filter {
  background-color: #e5e5e5;
  height: 50px;
  width: 100%;
  padding: 10px;
  color: #787878;
  line-height: 27px;
  font-family: 'Aleo Bold';
}

.search-results .results .filter .filter-dropdown {
  height: 50px;
  margin-top: -10px;
  border-left: 1px solid #cdcdcb;
}

.search-results .results .filter .dropdown {
  border-left: 1px solid $grey;
}

.search-results .results .filter .dropdown a.trigger {
  background: transparent;
  border: none;
  padding-top: 14px;
  padding-left: 20px;
  .caret {
    margin-left: 10px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000000;
  }
}

.search-results .results .filter .dropdown-menu {
  padding: 0;
  top: 40px;
  width: 250px;
  left: -138px;
}

.search-results .results .filter .dropdown-menu > li {
  padding: 8px 0;
  cursor: pointer;
  border-bottom: 1px solid $grey;
}

.search-results .results .filter .filter-row {
  cursor: pointer;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.search-results .results .filter .filter-row .panel-group {
  margin-bottom: 0px;
}

.search-results .results .filter .filter-row .panel,
.search-results .results .filter .filter-row .panel-default,
.search-results .results .filter .filter-row .panel-body {
  border: none;
  padding: 0;
}

.search-results .results .filter .filter-row .panel-body {
  ul {
    width: 100%;
    padding: 0;
    margin-top: 25px;
  }
  li {
    width: 100%;
    list-style-type: none;
    text-align: right;
    padding: 0 10px;
    border: none;
  }
  .name {
    text-align: left;
    float: left;
    width: 90%;
  }
  .radio {
    float: right;
    width: 10%;
  }
}

.search-results .results .filter .filter-row .panel-heading {
  background-color: #fff;
  padding: 0;
}

.search-results .results .filter .filter-link {
  cursor: pointer;
  float: right;
  font-family: 'Aleo Bold';
  color: #9a9a9a;
  margin-right: 15px;
}

.search-results .results .filter .star {
  font-size: 27px;
  color: #efc928;
}

.search-results .results .filter .float-right {
  display: inline-block;
  vertical-align: middle;
}

.search-results .results .filter .star,
.search-results .results .filter .number,
.search-results .results .filter .text {
  display: inline-block;
}

.search-results .results .filter .text {
}

.search-results .school-list .school {
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  clear: left;
  padding: 20px 10px;
  overflow: hidden;
  border-bottom: 1px solid #bcbcbc;
  cursor: auto;
}

.search-results .school-list .school.hide {
  display: none;
}

.search-results .school .rating {
  float: left;
  text-align: center;
}

.search-results .school-list .school .rating .icon {
  float: left;
  img { max-width: 50px; }
}

.search-results .school .rating .favorite {
  display: block;
  color: #bcbcbc;
  font-size: 21px;
  margin-top: 54px;
}

.search-results .school-list .school .info {
  float: left;
  margin-left: 10px;
  width: 70%;
  color: $onyx;
  font-family: 'Aleo Regular';
}

.search-results .school-list .school .name {
  width: 80%;
  float: left;
  margin-left: 10px;
}

.search-results .school-list .school .name h3 {
  margin: 0;
  color: $navy;
  font-family: 'Aleo Bold';
}

.search-results .school-list .school .info .grades{
  color: #232323;
}

.search-results .school-list .school .info .links {
  margin-top: 10px;
}

.search-results .school-list .school .info .links .link {
  margin: 5px 0;
  color: #898989;
}

.search-results .school-list .school .info a {
  display: block;
}

.search-results .school-list .school .icon-text {
  display: block;
  font-size: 10px;
  font-family: 'Aleo Bold';
  color: $navy;
  margin-left: -16px;
  margin-top: 6px;
}

.search-results .school-list .school:hover {
  background-color: $light_cyan;
}

.search-results .school-list .school .icon-text {
  cursor: pointer;
}

.search-results .school-list .school input.checkbox-icon[type="checkbox"] {
  display: none;
}

.search-results .school-list .school .compare-link {
  margin-top: 55px;
}

.search-results .school-list .school .compare-link input.checkbox-icon[type="checkbox"] + label {
  cursor: pointer;
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1px solid $grey-1;
  background-color: white;
}

.search-results .school-list .school .compare-link input.checkbox-icon[type="checkbox"]:checked + label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  background-color: $green;
}

.search-results .school-list .school .compare-link input.checkbox-icon[type="checkbox"]:checked + label:before {
  position: absolute;
  content: "\2714\0020";
  color: white;
  font-size: 14px;
  padding-left: 2px;
}

.more-results {
  text-align: center;
  padding: 20px;
  height: 100px;
  line-height: 60px;
}

#load-more-results {
  vertical-align: middle;
  padding: 10px;
}
