$gainsboro: #dedede;
$paynes_grey: #404040;
$onyx: #141414;
$dim_grey: #636466;
$green: #7cc45c;
$cyan: #2b9fc7;
$light_cyan: #e3f2f8;
$light_yellow: #fef5e2;
$yellow: #f8ae16;
$navy: #2e5b8c;
$red: #c73458;

$fivee_green: #319400;
$fivee_light_green: #a2c100;
$fivee_yellow: #ffc700;
$fivee_orange: #ff690f;
$fivee_red: #c32947;

@font-face {
  font-family: "Aleo Bold";
  src: url("aleo-bold-webfont.eot");
  src: local("☺"),
    url("aleo-bold-webfont.woff") format("woff"),
    url("aleo-bold-webfont.woff2") format("woff2"),
    url("aleo-bold-webfont.otf") format("opentype"),
    url("aleo-bold-webfont.ttf") format("truetype"),
    url("aleo-bold-webfont.svg#filename") format("svg");
}

@font-face {
  font-family: "Aleo Regular";
  src: url("aleo-regular-webfont.eot");
  src: local("☺"),
    url("aleo-regular-webfont.woff") format("woff"),
    url("aleo-regular-webfont.woff2") format("woff2"),
    url("aleo-regular-webfont.otf") format("opentype"),
    url("aleo-regular-webfont.ttf") format("truetype"),
    url("aleo-regular-webfont.svg#filename") format("svg");
}

@font-face {
  font-family: "Lato Italic";
  src: url("Lato-Italic.ttf");
}

html { height: 100%; }

body {
  font-family: 'Aleo Regular';
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: black;
  overflow-x: hidden;
  overflow-y: scroll;
  o-webkit-overflow-scrolling: touch;
}

body.schools-index { height: 100%; }
.container {
  min-height: 100%;
  position:relative;
  padding-bottom: 70px;
}
.bodywrap {
  height: 100%;
  padding: 0 0 0 0;
  margin-bottom: 0;
}
.footer {
  position: absolute;
  width: 100%;
  margin-top: -200px;
  bottom: 0;
  padding: 10px 30px;
  background-color: $navy;
  color: white;
  font-size: 40px;
  font-family: 'Aleo Regular';
}


.float_right { float: right; }
.float_left { float: left; }
.clear_floats { clear: both; }
.justify { text-align: justify; }
.centered { text-align: center; }
.hide { display: none; }
.inline { display: inline-block; }
.relative { position: relative; }
.rounded { padding: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.ib { display: inline-block; float: none; }
.printonly { display: none; }
table td, table th { vertical-align: top; }

h1 { color: $onyx; }
.branding { text-align: left; }

#search {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}

a.external, a.external:visited {
  color: $cyan;
  img {
    max-height: 13px;
    width: auto;
    margin-top: 6px;
  }
}

#block-boxes-school-score-widget .boxes-box-content {
  .score-right {
    min-height: 130px; padding-top: 1em !important;
    form input[type=text] { margin: 1em 0; }
  }
}

#block-boxes-did-you-know h2.printonly { display: none; }
.block--boxes-did-you-know {
  ul.nav {
    display: inline-block; margin-left: 2em; position: relative; top: 7px;
  }
  .tab-content {
    border: 0;
  }
}

#block-mailchimp-lists-get-email-updates .block__content {
 a:link, a:visited, input[type=submit] { border: none;  }
 h3 { margin: 0; }
}

.help {
  display: block; width: 20px; height: 20px; position: absolute; right: 8px; top: 8px; cursor: pointer;
}

.schools-wrapper {
  position: absolute;
  top: 80px;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.schools-map-wrapper {
  float: right;
  height: 100%;
  width: 65%;
  position: relative;
  border: 1px solid $navy;
}

.school-map-wrapper {
  clear: both;
  height: 200px;
  position: relative;
}

#map {
  height: 100%;
}

.leaflet-control-layers-base input,
.leaflet-control-layers-overlays input { display: inline; }
#showing {
  padding: 10px 10px 10px 10px; position: absolute; right: 0px; top: 5px; width: 300px; max-width: 100%;
  background-color: white; background-color: rgba(255,255,255,0.8); z-index: 100;
}

.form-search, .form-byname {
  input[type=text] { display: block; width: 100% !important; margin-bottom: 0.5em !important; }
  input, select, .btn { margin-bottom: 0.5em; }
}
.form-byname {
  input[type=text] { width: 270px; max-width: 100%; }
}

ul.school_list {
  padding-left: 0;
  li.school {
    list-style: none; margin-bottom: 1em; position: relative; padding-left: 50px; padding-top: 0px;
    .mini-el-icon { position: absolute; left: 0px; top: 6px; height: auto; width: 40px; }
    h3 { margin-top: 0; margin-bottom: 0; }
  }
}

#block-boxes-school-score-widget.block.block--boxes.block--boxes-simple.block--boxes-school-score-widget.by-name .score-right {
  background-image: url('/assets/images/theme/schoolbook_icon.png');
  background-position-x: 10px; background-position-y: 10px;
}

$big: 150px;
$med: 100px;

.dropdown > a, .filter > a {
  font-size: 1.3em;
  background-color: white;
  margin-bottom: 1em;
  padding: 5px 8px;
  &.active {
    color: white;
  }
}

.dropdown > a {
  color: $dim_grey;
  border: 2px solid $navy;
  &.active {
    color: white;
    background-color: $navy;
  }
}

.filter > a {
  color: $navy;
  border: 2px solid $navy;
  &.active {
    background-color: $navy;
  }
}

.home-index, .schools-index {
  select {
    width: 100%;
  }
  input[type=text] {
    font-size: 1.3em;
    padding: 5px 8px;
    margin-bottom: 1em;
    max-width: 100%;
    width: 100%;
    &#q { margin-top: 0; }
  }
  .btn.search {
    background-color: $navy;
    color: white;
    width: 100%;
    font-size: 1.3em;
    text-align: center;
    float: left;
  }
  .dropdown, .filter {
    width: 100%;
    float: left;
    a.trigger {
      cursor: pointer;
      display: block;
    }
  }
}
#lefty .grades a { font-size: 13px; }

.schools-index {
  .footer { display: none; }
}

.site-logo img { max-width: 100%; height: auto; }

.graph, .history {
  height: 250px;
  float: left;
  margin-right: 50px;
  margin-bottom: 20px;
  max-width: 100%;
}


table.compare {
  margin: 2em 0; font-size: 0.9em;
  tbody tr:nth-child(odd) { background-color: #f4f8ff; }
  td, th {
    border-collapse: collapse;
    max-width: 300px; padding: 0.5em 1em; text-align: left;
    &:first-child { text-align: right; }
    h3 { margin-top: 0; }
    a.close { font-size: 0.7em; color: white; margin-left: 10px;}
  }
}

.overall-stars { font-size: 2em; padding-top: 10px; }

.el-icon, .mini-el-icon { width: 60%; height: auto; }
.overall-seal .centered.nomobile { display: block !important; }
.el-icon.overview { margin-top: 0; }
.mini-el-icon { width: 40px; height: auto; float: right; margin-left: 0.5em; }
.overall-seal {
  padding-top: 1em; text-align: center;
  .el-icon { width: 100%; height: auto; margin-top: 1em;  max-width: 200px;  }
}

.k12 {
  .el-icon { marign-top: 0; }
}

.share {
  margin: 0.5em 0;
  .share-button {
    display: inline-block; width: 24px; height: 30px; background-position: 0px 0px; background-repeat: no-repeat; margin-right: 0px;
  }
  #fb-share {
    background-image: url(/assets/images/el_icons/facebook_sprite.png); background-position: 5px 0px;
    &:hover { background-position: 5px -74px; }
  }
  #tw-share {
    background-image: url(/assets/images/el_icons/twitter_sprite.png); background-position: 0px 2px;
    &:hover { background-position: 0 -68px; }
  }
  #plus-share {
    background-image: url(/assets/images/el_icons/googleplus_sprite.png); background-position: 0px 2px;
    &:hover { background-position: 0 -72px; }
  }
  #pin-share {
    background-image: url(/assets/images/el_icons/pinterest_sprite.png); background-position: 0px 2px;
    &:hover { background-position: 0 -73px; }
  }
}

.dropdown{position:relative;}
.dropdown-toggle{*margin-bottom:-3px;}
.dropdown-toggle:active, .open .dropdown-toggle{outline:0;}
.caret{
  display:inline-block;
  width:0;
  height:0;
  text-indent:-99999px;
  *text-indent:0;
  vertical-align:top;
  border-left:4px solid transparent;
  border-right:4px solid transparent;
  border-top:4px solid #000000;
  opacity:0.3;
  filter:alpha(opacity=30);
  content:"\2193";
  float: right;
}

.plus:after {
  display:inline-block;
  *text-indent:0;
  vertical-align:top;
  filter:alpha(opacity=30);
  content:"\002B";
  color: white;
  float: right;
}

.dropdown .caret{margin-top:8px;margin-left:2px;}
.dropdown:hover .caret,.open.dropdown .caret{opacity:1;filter:alpha(opacity=100);}
.dropdown-menu{
  position:absolute;
  top:100%;
  left:0;
  z-index:1100;
  float:left;
  display:none;
  min-width:160px;
  _width:160px;
  padding:4px 0;
  margin:0;
  list-style:none;
  background-color:#ffffff;
  border-color:#ccc;
  border-color:rgba(0, 0, 0, 0.2);
  border-style:solid;
  border-width:1px;
  -webkit-border-radius:0 0 5px 5px;
  -moz-border-radius:0 0 5px 5px;
  border-radius:0 0 5px 5px;
  -webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip:padding-box;
  -moz-background-clip:padding;
  background-clip:padding-box;
  *border-right-width:2px;
  *border-bottom-width:2px;
}
.dropdown-menu.bottom-up{top:auto;bottom:100%;margin-bottom:2px;}
.dropdown-menu .divider {
  height:1px;
  margin:5px 1px;
  overflow:hidden;
  background-color:#e5e5e5;
  border-bottom:1px solid #ffffff;
  *width:100%;
  *margin:-5px 0 5px;
}
.dropdown-menu a{
  display:block;
  padding:3px 15px;
  clear:both;
  font-weight:normal;
  line-height:18px;
  color:#555555;
  white-space:nowrap;
}
.dropdown-menu li>a:hover,
.dropdown-menu .active>a,
.dropdown-menu .active>a:hover {
  color:#ffffff;
  text-decoration:none;
  background-color:#0088cc;
}
.dropdown.open { *z-index:1100; }
.dropdown.open .dropdown-toggle {
  color:#ffffff;
  background:#ccc;
  background:rgba(0, 0, 0, 0.3);
}
.dropdown.open .dropdown-menu{display:block;}
.typeahead {
  margin-top:2px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  z-index: 1105;
}

.btn {
  background-color: $navy;
  color: white;
  padding: 0.5em;
  img {
    max-height: 1em;
    width: auto;
    margin-right: 0.5em;
  }
  &.light {
    background-color: white;
    border: 1px solid $green;
    color: $green;
  }
}

a, a:visited, a:active, a:hover, a.external, a.external:visited {
  text-decoration: none;
  color: $navy;
  font-family: 'Aleo Regular';
}

.brand {
  color: $navy;
  font-size: 45px;
  font-family: 'Aleo Regular';
  :hover {
    color: $navy;
  }
}

.menu {
  position: absolute;
  width: 100%;
  margin-left: -20px;
  z-index: 1000;
  border-bottom: 1px solid $gainsboro;
  text-align: right;
  float: right;
  display: none;
  text-align: left;
  &.active {
    display: block;
    float: none;
  }
  a.btn {
    display: block;
    clear: both;
    padding: 0.5em 1em;
  }
}

.school-nav-title {
  color: #4e4040;
}

#nav {
  padding: 10px 20px;
  color: $navy;
  border-bottom: 2px solid $gainsboro;

  a span {
    color: $cyan;
    font-family: 'Aleo Regular';
    font-size: 25px;
  }

  #hamburger {
    top: 11px;
    background-color: transparent;
    float: left;
    cursor: pointer;
    display: block;
    padding: 1px 5px;
    position: relative;
    width: 70px;
    background: #fff;
  }

  #hamburger span {
    float: left;
  }

  #hamburger div {
    background-color: $navy;
    border: 0.1em solid $navy;
    border-radius: 2px 2px 2px 2px;
    margin-top: 6px;
    width: 35%;
  }

  #hamburger div:first-of-type {
    margin-top: 8px;
  }

  a.btn {
    background-color: white;
    color: $navy;
    font-family: 'Aleo Regular';
    font-size: 20px;
    &:hover {
      background-color: $gainsboro;
    }
  }
}

.info-region {
  margin-bottom: 10px;
}

.breadcrumbs {
  float: left;
  width: 450px;
  padding: 10px 5px 10px 20px;
  h2 {
    margin: 0 0 0 40px;
    color: $onyx;
    font-family: 'Crimson Text', serif;
    font-size: 21px;
  }
}

.border-bottom {
  border-bottom: 1px solid $gainsboro
}

.section-title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: $light_yellow;
  text-align: center;
  cursor: pointer;
  h2 {
    color: $yellow;
    margin: 11px 0;
    font-size: 23px;
    letter-spacing: 1px;
    font-family: 'Aleo Bold';
  }
}

.section-title.closed {
  background-color: $navy;
}

.school-image {
  img {
    width: 100%;
  }
}

.school-title  {
  padding: 10px;
  background-color: $light_cyan;
  h1 {
    margin: 0px;
    color: $onyx;
    font-family: 'Crimson Text', serif;
    font-size: 33px;
  }
}

.field {
  overflow: auto;
  padding: 15px 10px;
  color: $dim_grey;
  font-family: 'Aleo Regular';
  font-size: 17px;
  display: inherit;
}

.field a {
  display: inline-block;
}

.field-key {
  float: left;
}

.field-value {
  float: right;
  color: $onyx;
  font-family: 'Crimson Text', serif;
  text-align: right;
}

.list > .field-value {
  display: block;
  li { list-style-type: none; }
}

.key-value {
  position: relative;
  min-height: 40px;
}

.field > p {
  margin-top: -5px;
  color: $onyx;
  font-family: 'Crimson Text', serif;
}

.field > span { display: block; }

.overview-text {
  padding: 20px 15px 0 15px;
  color: $onyx;
  font-family: 'Crimson Text', serif;
  font-size: 23px;
}

.contact {
  padding: 10px 0 10px 25px;
  color: $dim_grey;
  font-family: 'Aleo Regular';
  font-size: 17px;
}

.schools-index .results {
  padding: 0 10px;
  float: left;
  width: 35%;
  max-height: 560px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.schools-index .wrapper {
  float: right;
  width: 65%;
  height: 550px;
}

.back-arrow-icon {
  float: left;
  height: 18px;
  width: 23px;
  margin: 7px 15px 0 0;
  background-image: url(/assets/images/icons/png/arrow_left.png);
  background-repeat: no-repeat;
}

.compare-arrow-icon {
  float: left;
  height: 19px;
  width: 18px;
  margin: 7px 10px 0 0;
  background-image: url(/assets/images/icons/png/arrow_45_up.png);
  background-repeat: no-repeat;
}

.transportation-icon {
  float: left;
  height: 75px;
  width: 50%;
  background-image: url(/assets/images/icons/png/transportation.png);
  background-repeat: no-repeat;
  background-position: top;
}

.schedule-icon {
  float: right;
  width: 50%;
  background-image: url(/assets/images/icons/png/schedule.png);
  background-repeat: no-repeat;
  background-position: top;
  text-align: bottom;
}

.act-icon {
  float: left;
  height: 26px;
  width: 22px;
  margin: 0 10px 0 0;
  background-image: url(/assets/images/icons/png/ACT.png);
  background-repeat: no-repeat;
}

.plus-icon {
  float: left;
  height: 19px;
  width: 19px;
  margin: 4px 10px 0 0;
  background-image: url(/assets/images/icons/png/plus.png);
  background-repeat: no-repeat;
}

.icon-text {
  margin-top: 45px;
  color: $onyx;
  font-family: 'Crimson Text', serif;
  text-align: center;
}

.envelope-icon {
  float: left;
  margin-top: 7px;
  margin-right: 8px;
  width: 22px;
  height: 22px;
  background-image: url(/assets/images/icons/png/envelope.png);
  background-repeat: no-repeat;
  background-size: 101%;
}

.phone-icon {
  float: left;
  margin-top: 3px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url(/assets/images/icons/png/phone.png);
  background-repeat: no-repeat;
  background-size: 101%;
}

.website-icon {
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url(/assets/images/icons/png/pointer.png);
  background-repeat: no-repeat;
  background-size: 101%;
}

.facebook-icon {
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url(/assets/images/icons/png/facebook.png);
  background-repeat: no-repeat;
  background-size: 101%;
}

.circle {
  position: relative;
  margin-left: 70px;
  width:110px;
  height:110px;
  border-radius:55px;
  font-size:20px;
  color:#fff;
  line-height:100px;
  text-align:center;
  background:#fff
}

.increasing-growth {
  margin: 30px auto 0 auto;
  width: 68px;
  height: 157px;
  background-image: url(/assets/images/icons/png/arrow_up.png);
  background-repeat: no-repeat;
}

.decreasing-growth {
  margin: 30px auto 0 auto;
  width: 68px;
  height: 157px;
  background-image: url(/assets/images/icons/png/arrow_down.png);
  background-repeat: no-repeat;
}

.stat-region {
  h2 {
    margin-top: 20px;
    color: $navy;
    font-size: 17px;
    font-family: 'Aleo Bold';
    letter-spacing: 1.3px;
    text-align: center;
  }
  h3 {
    margin-top: -10px;
    color: $onyx;
    font-size: 15px;
    font-family: 'Lato Italic';
    text-align: center;
    letter-spacing: 0.1px;
  }

  .content {
    width: 775px;
    margin-top: 30px;
    margin-left: 12.1%;
    text-align: center;
  }

  .content .visual {
    float: left;
  }

  .content .visual .title {
    background-color: $cyan;
    color: white;
    font-family: 'Aleo Bold';
    font-size: 13px;
    padding: 4px 0;
  }

  .content.two .visual {
    width: 365px;
    margin-bottom: 20px;
  }

  .content.two .visual:nth-of-type(1) {
    margin-right: 45px;
  }

  .content.four .visual {
    width: 145px;
    margin-right: 64px;
  }

  .content.four .visual:nth-of-type(4) {
    margin-right: 0;
  }

  .content .graph {
    background-color: $light_cyan;
    width: 100%;
    margin-top: 4px;
    & > .number {
      height: 100%;
      background-color: $green;
      .text {
        text-align: left;
        color: white;
        font-family: 'Lato Bold';
        font-size: 18px;
        padding: 13px 0 13px 7px;
        text-shadow:
          -1px -1px 0 $green,
          1px -1px 0 $green,
          -1px 1px 0 $green,
          1px 1px 0 $green;
      }
    }
  }

  .content.two .graph {
    height: 68px;
  }

  .content.four .graph {
    height: 45px;
  }

  .visual .bounds {
    margin-top: 55px;
    height: 6px;
    border-left: 1px solid $navy;
    border-right: 1px solid $navy;
    .left-bounds, .right-bounds {
      margin-top: -5px;
      width: 1px;
      font-family: 'Lato Light';
      font-size: 10px;
    }
    .left-bounds {
      float: left;
      margin-left: -4px;
    }
    .right-bounds {
      float: right;
      margin-right: 5px;
    }
  }

  .bounds .line-graph {
    width: 100%;
    margin-top: 58px;
    height: 3.5px;
    border-bottom: 1px solid $navy;
    .line-marker {
      height: 10px;
      margin-top: -13px;
      margin-left: 20px;
      float: left;
      width: 3px;
      background: $yellow;
      font-family: 'Lato Light';
      font-size: 13px;
      & > .text {
        font-family: 'Lato Light';
        font-size: 10px;
        margin-top: 13px;
      }
      & > .number {
        font-family: 'Lato Bold';
        font-size: 13px;
        color: $green;
      }
    }
  }

  .content.two .graph .left-bars {
    width: 49.5%;
    height: 100%;
    float: left;
    .negative {
      margin-top: 5px;
      width: 80%;
      height: 25px;
      float: right;
      background: $red;
      clear: right;
      & > .text {
        margin-top: -2px;
        font-family: 'Lato Light';
        font-size: 11px;
      }
      & > .number {
        margin-top: -1px;
        font-family: 'Lato Bold';
        font-size: 16px;
        color: $red;
      }
    }
  }

  .content.two .graph .right-bars {
    width: 49.5%;
    height: 100%;
    float: right;
    .positive {
      margin-top: 5px;
      width: 80%;
      height: 25px;
      float: left;
      background: $green;
      clear: left;
      & > .text {
        margin-top: -2px;
        font-family: 'Lato Light';
        font-size: 11px;
      }
      & > .number {
        margin-top: -1px;
        font-family: 'Lato Bold';
        font-size: 16px;
        color: $green;
      }
    }
  }

  .content.two .graph .zero-bar {
    float: left;
    width: 1%;
    height: 100%;
    background-color: $yellow;
    .text {
      padding: 1px;
      margin-top: 70px;
      margin-left: -20px;
      background-color: $yellow;
      color: white;
      font-family: 'Lato Bold';
      font-size: 10px;
      width: 60px;
    }
  }

  .content .what-this-means {
    width: 100%;
    display: inline-block;
    margin-top: 60px;
    background: $light_cyan;
    height: 30px;
    text-align: left;
    padding: 9px;
    font-family: 'Aleo Regular';
    font-size: 11px;
  }
}

.stat-region:last-of-type {
  border-bottom: none;
}

.school-header {
  background-color: $light_cyan;
}

@media only screen and (max-width: 959px) {
  body { min-width: 0px; }
  h2 { margin-top: 0px; }
  .container_12 {
    width: auto;
    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12 {
      margin-left: 10px;
      margin-right: 10px;
      text-align: left;
      width: auto;
      float: none;
    }
  }
}

@media only screen and (max-width: 900px) {
  .schools-index .results,
  .schools-index .wrapper {
    float: none;
    width: 100%;
  }
  .schools-index .wrapper {
    top: 80px;
    height: 250px;
  }
  .schools-index .results {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

@media only screen and (max-width: 499px) {
  .brand { padding-left: 5%; }
  .breadcrumbs { width: 315px; }
  .links { margin: 20px 30px; }
  .bar-graph { width: 70%; }
}

@media only screen and (min-width: 320px) and (max-width: 399px) {
  .increasing-growth { margin-left: 100%; }
  .decreasing-growth { margin-left: 100%; }
  .footer { font-size: 35px; padding: 10px 10px; }
  .stat-region .links {
    text-align: left;
    font-size: 13px;
    .field { font-size: 17px; }
  }
  .content .subjects .subject { font-size: 17px; }
  .header { font-size: 25px; }
  .brand { font-size: 33px; }
  .section-title h2 { font-size: 27px; }
  .breadcrumbs h2 { font-size: 21px; }
  .school-title h1 { font-size: 35px; }
  .contact { font-size: 17px; }
  .home { margin: 5px 10px 20px 10px; }
  #nav #hamburger { top: 3px; }
  .results {
    padding: 0 10px;
  }
}

@media only screen and (min-width: 399px) {
  .increasing-growth { margin-left: 100%; }
  .decreasing-growth { margin-left: 100%; }
  .stat-region .links { text-align: left; }
  .home {
    margin: auto auto 20px auto;
    width: 90%;
  }
}

@media only screen and (min-width: 480px) {
  .links { margin: 30px 15%; }
  .increasing-growth { margin-left: auto; }
  .decreasing-growth { margin-left: auto; }
}

@media only screen and (min-width: 500px) {
  .brand { padding-left: 15%; }
  .breadcrumbs { width: 450px; }
}

@media only screen and (min-width: 555px) {
  .stat-region {
    border-bottom: 1px solid $cyan;
    padding-bottom: 20px;
  }
  .links {
    margin: 30px 20%;
  }
}

@media only screen and (min-width: 663px) {
  .links { margin: 30px 25%; }
  .home {
    margin: auto auto 20px auto;
    width: 80%;
  }
}

@media only screen and (min-width: 800px) {
  .school-header {
    display: inline-block;
    display: block;
    overflow: hidden;
  }
  .overview-text { padding: 0; }
  #overview .fields, .school-image {
    width: 40%;
    float: right;
    margin-left: 50px;
  }
  .school-title {
    width: 60%;
    height: inherit;
  }
  .school-image {
    width: 40%;
    height: inherit;
  }
  .home {
    margin: auto auto 20px auto;
    width: 70%;
  }
}

@media only screen and (min-width: 960px) {
  .middle {
    max-width: 775px;
    margin: 0 auto 20px auto;
  }
  .container_12 { width: auto; }
  .padding-left { padding-left: 20%; }
  .padding-right { padding-right: 40%; }
  .breadcrumbs { margin-left: 110px; }
  #hamburger { margin-left: 140px; }
  .breadcrumbs { width: 450px; }
}

@media only screen and (min-width: 1005px) {
  .stat-region .links { text-align: center; }
  .links .compare, .links .message {
    display: inline-block;
  }
}

@media only screen and (min-width: 1020px) {
}

@media only screen and (min-width: 1080px) {
}

@media only screen and (min-width: 1112px) {
  .home {
    margin: auto auto 20px auto;
    width: 60%;
  }
}

@media only screen and (min-width: 1219px) {
  .home {
    margin: auto auto 20px auto;
    width: 50%;
  }
}
