!!!
%html
  = render 'layouts/head'
  
  %body
    #container
      %header#nav.l-header
        = link_to image_tag('theme/esd_LOGO.png', :class => 'logo'), '/'
        
      #bodywrap.l-content
        = yield

      = render 'layouts/footer'